[2021-05-20 15:32] jorvis opened #1 "Disable all organism icons when gene not found"
Currently if the user searches for a gene which isn't present in the system it appears that the last organism remains highlighted.  They should all be disabled.

[2021-05-25 15:29] jorvis opened #2 "Log out button not working on curator page"
At least as tested on the devel gcid page.

[2021-05-25 15:35] jorvis opened #3 "New portal with no profiles fails on dataset explorer page"
[code]

[2021-05-25 16:04] adkinsrs commented on #2
Can you give steps to replicate?  Just tested with my "sadkins" account (logout, login, then logout again) and had no issues.

[2021-05-28 13:12] adkinsrs commented on #2
Realized I was testing general login/logout... not specific to the curator page.

[2021-06-11 04:31] jorvis opened #4 "Create "site maintenance" version for scheduled downtimes"
We needed a version of the site to use where all pages display a warning that the site is undergoing maintenance.  The strategy is just to use a symlink on the server to point to this branched checkout (which will stay open in GitHub) when we have to do work on the server, re-allocate resources, etc.

This is the "site-offline" branch.

[2021-06-11 04:35] #4 closed

[2021-06-17 19:52] adkinsrs opened #5 "Gene Search Results - Trigger update on col width based on plot grid_width after changing dataset display."
After performing certain actions on the gene search results page, such as searching a gene, changing the dataset, or changing the domain, the default displays for each dataset in the profile are loaded based on their specific grid widths (col-4, col-8, or col-12 from bootstrap classes).  However when a new display is chosen to replace the existing display for a dataset, the grid width for the new

[2021-06-17 19:58] adkinsrs commented on #5
Example:

Profile - scRNA-seq (1)
Dataset - P1, P12, P100, mouse, scRNA-seq, utricular hair cells (Kelley)

Default is an SVG with grid_width 4.  There is a saved tSNE display that if you change to is drawn in the container with the col-4 class preserved instead of updating the container class to col-12

[2021-06-23 18:51] jorvis opened #6 "Comparison tool: All users to define comparison-eligible columns"
The comparison tool dynamically generates the menu options based on observation columns not in an exclusion list.  If there are more than 5 columns it throws a descriptive error to the user.

It would be nice if at some point in the dataset upload or in the Explorer the user could instead choose which obs columns are appropriate to be included as conditions in the comparison tool.

[2021-06-29 15:37] echrysostomou84 opened #7 "User unable to leave comments/feedback"
User unable to submit form for comments and feedback.

[2021-06-29 17:17] jorvis commented on #7
Confirmed.  I fixed the issue where tags weren't loading, but there's still an error when saving:

Error during creation: HTTP error occurred: 401 Client Error: Unauthorized for url: https://api.github.com/repos/jorvis/gEAR/issues
comment.js:67

[2021-06-29 17:22] jorvis opened #8 "Tag list on comment page not styled properly"
When you get auto-suggest completions for the tag list on the comment page they're being rendered in an overlayed div with no background color or anything else.  See image:

![Screenshot from 2021-06-29 12-20-06](https://user-images.githubusercontent.com/330899/123840942-9c302780-d8d4-11eb-929e-5c3f9d43a678.png)

[2021-06-29 17:24] jorvis commented on #7
OK, the issue here was that the .env file expected in www wasn't present.  Corrected and tested.

[2021-06-29 17:24] #7 closed

[2021-07-07 18:18] echrysostomou84 opened #9 "Change "gEAR" to say "NeMO" on NeMO Analytics"
![image](https://user-images.githubusercontent.com/59666680/124808961-93230400-df2d-11eb-8fbd-4ad6aee2fe32.png)
![image](https://user-images.githubusercontent.com/59666680/124809221-de3d1700-df2d-11eb-9fb6-e72b698866cb.png)

For the uploader and in the dataset explorer delete button

[2021-07-09 04:49] jorvis commented on #9
Fixed, but not yet exported.  I also found and fixed references to gEAR specifically within the workbench.

[2021-07-09 04:49] #9 closed

[2021-07-19 16:01] jorvis opened #10 "Dataset Explorer: Add counters to all filtering options as the user filters"
If I search for "Supporting" for example, the filtering options on the left should all have counters next to them showing how many datasets match each filtering param.

[2021-07-20 15:49] songeric1107 opened #11 "headers that can be used for comparison tool"
the group displayed for the comparison tool is too complicated

![Screen Shot 2021-07-20 at 11 42 03 AM](https://user-images.githubusercontent.com/6730079/126355078-9e86ce89-24b1-4c28-9501-02841f92b804.png)

the header for the dataset is:

observations    group   cell_type       cell_type_colors        UMAP_1  UMAP_2  cluster_label

how to display the cell_type and group only?

[2021-07-20 17:51] jorvis commented on #11
This shows the list of column names which are currently skipped.  Any other names get to be part of the condition generation:

https://github.com/IGS/gEAR/blob/master/www/cgi/get_condition_list.cgi#L54

[2021-07-20 17:57] jorvis commented on #11
Updated the code to include these column variations.  Please try again.

[2021-07-20 18:13] songeric1107 commented on #11
@jorvis

I could not select the significant test, is it because of no "replicates" column in the observation.tab file?

In that case, how the dataset is grouped into different cell types?

![Screen Shot 2021-07-20 at 2 12 11 PM](https://user-images.githubusercontent.com/6730079/126374510-18796471-7984-4d88-8e95-a08ea49c0d14.png)

[2021-07-20 18:20] jorvis commented on #11
Are you sure the colors column was called 'cell_type_colors' exactly?  They shouldn't still be appearing.

And, yes, the stats tests can't be enabled if there aren't replicates.  And they're grouped into cell types using the column in the dataset called 'cell_type'.

[2021-07-20 18:24] songeric1107 commented on #11
this is the header of the observation.tab file

observations group cell_type group_colors UMAP_1 UMAP_2 cluster_label

If I modified the observation file by adding the replicates column, will it
breaks the primary analysis function that you did in the morning?

On Tue, Jul 20, 2021 at 2:20 PM Joshua Orvis ***@***.***>
wrote:

[2021-07-20 18:30] songeric1107 commented on #11
could you please add group_colors to the "skip_column"?

[2021-07-20 18:41] jorvis commented on #11
I've added group_colors.  And as long as you don't change any other headers in the file it shouldn't matter if you add replicates.

[2021-07-20 19:08] songeric1107 commented on #11
@jorvis

I create a testing dataset using the same matrix for the comparison tool, however, I got errors when I comparing clusters between different condition

![Screen Shot 2021-07-20 at 3 05 33 PM](https://user-images.githubusercontent.com/6730079/126381354-5e2d3b7d-f96b-4a07-80c1-aa5fb4fc8c88.png)

here is the dataset ID

103a7817-e806-2f16-8c6b-eee88b6467de

[2021-07-20 22:44] songeric1107 opened #12 "comparison tool does not work for scRNA matrix"
The comparison tool does not work with scRNAmatrix to compare between groups for each cluster, no matter how I change the parameter.

07ba8ae9-f57e-9bb3-262c-9ba9151fe78c

here is the header of observation.tab

observations	UMAP_1	UMAP_2	replicate	group_cluster

![Screen Shot 2021-07-20 at 6 40 45 PM](https://user-images.githubusercontent.com/6730079/126404630-674b7898-826f-4473-9b02-b4faf7b24d04.

[2021-07-20 22:45] songeric1107 commented on #12
relate to ticket #11

[2021-07-20 22:45] songeric1107 commented on #11
relate to ticket #12

[2021-07-21 02:42] jorvis commented on #12
Closing this ticket because the issue raised in it was resolved.  Remaining problem is in ticket 11.

[2021-07-21 02:42] #12 closed

[2021-07-21 19:27] songeric1107 opened #13 "define a specific color for the gene with no expression range(all 0) in svg /tsne plot"
Should we define a specific color (eg. grey) for a gene with all 0 across all samples or cell types?
A similar problem was observed in TSNE plot which was generated by scanpy.

![svg](https://user-images.githubusercontent.com/6730079/126547739-fe67aa0a-e4d7-41b3-aed7-d67a28e404e0.png)

[2021-07-23 12:42] songeric1107 opened #14 "How to name the header to use primary analysis function by comparing clusters between conditons"
If the user had a integrated scRNAseq dataset ，and would like to compare clusters between conditions ，what is column name should be called in the observation file ？

[2021-07-23 17:41] jorvis commented on #14
The interface allows you compare clusters between any conditions defined by one of these obs columns:

- cluster
- cell_type
- cluster_label
- subclass_label'

[2021-07-23 19:22] songeric1107 opened #15 "make one profile as public profile"
profile:

https://umgear.org/p?l=3433484b

1.  please change the name of this profile from "scRNA_Crista_Wikerson" to  "'scRNA-seq, Crista, mouse (Bermingham-McDonogh)"
2. please make this profile as a public profile

[2021-07-23 21:23] jorvis commented on #15
Both done.

[2021-07-23 21:23] #15 closed

[2021-07-26 16:04] adkinsrs commented on #11
[code]

I'm am attempting to replicate up to this point in the python REPL.  A quick glance tells me that the used observation columns are of the "category" dtype, so I believe something may be up with the comparison_composite_index that is created.

[2021-07-26 16:27] adkinsrs commented on #11
Turns out that 'cluster_colors', 'UMAP_1', 'UMAP_2' were added as columns to ignore in "get_condition_list.cgi" (which populates the dropdowns on the page) but not in "get_dataset_comparison.cgi" (which does the actual comparison), so scanp y was using a bad comparison_composite_index.

I fixed this directly in the production get_dataset_comparison.cgi script and was able to generate a plot.  I am

[2021-07-26 16:30] adkinsrs commented on #11
Commited https://github.com/IGS/gEAR/commit/1bece38686d38ddf142887e27930ff79e412d462

[2021-07-26 19:04] songeric1107 commented on #14
the primary analysis does not display the 'cluster_label" column, although you can see the cluster_label in the curation step

https://umgear.org/dataset_curator.html#/dataset/b5cfaedd-1594-a08c-1d0d-697acce81588/displays/new

![Screen Shot 2021-07-26 at 3 03 05 PM](https://user-images.githubusercontent.com/6730079/127044283-4cfd6afd-3d49-46e0-b190-0ab669ed7091.png)
![Screen Shot 2021-07-26 at 3 0

[2021-07-26 21:40] jorvis commented on #11
Nice catch there.

[2021-07-27 20:58] jorvis commented on #11
Closing because I believe this issue has been addressed.

[2021-07-27 20:58] #11 closed

[2021-07-28 17:28] songeric1107 opened #16 "restore the daily running of "primary analysis" to new scRNASEQ datasets"

[2021-08-11 17:50] songeric1107 commented on #16
could you please test this profile?

https://umgear.org/p?l=90bfbd1a

[2021-08-11 18:01] songeric1107 opened #17 "modified the svg display for PTS-NIHL dataset"
![Screen Shot 2021-08-11 at 1 59 23 PM](https://user-images.githubusercontent.com/6730079/129079772-483df39e-bd45-4f66-9d0b-2192c9d15315.png)

https://umgear.org/p?l=76ae3595

![Screen Shot 2021-08-11 at 2 00 19 PM](https://user-images.githubusercontent.com/6730079/129079884-cfb0768b-5f51-424d-968e-536989ebb3dd.png)

modification requested:

If at 24 hours the expression went up - then color only

[2021-08-11 18:11] songeric1107 commented on #17
the only problem is the color for all zero value, we should set up a defined color for all zero values

[2021-08-12 15:39] songeric1107 commented on #17
replace the zero with -0.012345679104328156, now the all zero values are displayed as grey.

but there is another problem, how to set up the middle point / zero value as white.

![Screen Shot 2021-08-12 at 11 32 59 AM](https://user-images.githubusercontent.com/6730079/129225942-7966de1b-e7bf-4bbd-b478-275c65f757f1.png)

[2021-08-12 16:17] echrysostomou84 opened #18 "deafness gene annotation buttons not always functioning"

[2021-08-16 15:44] jorvis commented on #18
Can you add a screenshot with test gene(s) for what you mean here?

[2021-08-16 18:23] songeric1107 commented on #17
the solution is for any genes should be displayed,  put this value in them:
-0.012345679104328156

[2021-08-16 18:24] songeric1107 commented on #17
**test "ngfr" :**

![Screen Shot 2021-08-16 at 2 14 44 PM](https://user-images.githubusercontent.com/6730079/129611515-c1eeb546-78c9-47d0-bdbe-12d43ea3cd9e.png)

[2021-08-16 19:28] adkinsrs commented on #5
Closing ticket since my initial understanding of how grid_width was populated was a bit incorrect.  It is based more on manual input for a dataset in a profile, rather than by plot type

[2021-08-16 19:28] #5 closed

[2021-08-18 19:11] RLC-DCPPC opened #19 "add a list of "recently added" data sets to home page"

[2021-08-18 19:15] adkinsrs opened #20 "Outstanding multigene display stuff"
Ticket to track remaining work for multigene displays and plots

suggestions from past ticket:

- [x] cluster the matrix by row without showing the dendrogram

- [ ] provide the options either cluster the samples column-wise or not
- [ ] provide the options to sort the matrix column wise by different category under the options without dendrogram on the column-wise.
- [ ] Maybe add the options for

[2021-08-18 19:24] adkinsrs opened #21 "Upload screen-shot in "Contact Us" section of gEAR"
From @songeric1107

Is it possible to let user upload a screen-shot picture corresponding to the problems when useing gEAR? It will be easier for us to response to their questions.

[2021-08-18 20:22] songeric1107 commented on #17
@jorvis , I have made the changes corresponding to what Ronna suggested during the meeting.

now the problem is how to set color of zero as white.

using "ngfr" as an example, the left image of the second row is the original display, the v4 is the current display, the difference is the color for zero

gene | OHC | SC | T1A | T1B | T1C | T2 | Glia | MC | ImC | BC | FC | SpRC | Mono | BCell | Nphil

[2021-08-19 14:18] adkinsrs commented on #21
Worth noting that currently the Github API does not have a means for uploading screenshots to issues... only when you interact directly with the UI.  @jorvis do you think having a permalink to the screenshot via gEAR and linking that in the issue body would suffice?

[2021-08-19 20:08] jorvis commented on #21
That's an interesting idea, so we host the screenshots within gEAR and just link to them.  That should be fine.

[2021-08-20 17:33] jorvis commented on #18
As an example, they don't appear when this permalink is followed:

umgear.org/nihl

[2021-08-20 21:03] songeric1107 opened #22 "what statistic method is used for "Find marker genes" of single-cell-workbench"
what statistic method is used for the "Find marker genes" step of the workbench

"t-test" or "wilcoxon rank-sum"?

also what value is used for comparison?  for example, the mean value of gene1 across all the cells in cell_type1 vs the mean value of gene2 in cell_type2?

This is a question from a user.

[2021-08-20 21:32] jorvis commented on #22
Currently it's t-test but the underlying libraries support t-test, wilcoxon rank-sum and logistic regression.  We could add those as options for the user to specify.

https://scanpy.readthedocs.io/en/stable/generated/scanpy.tl.rank_genes_groups.html

[2021-08-23 18:10] brianherb opened #23 "Epiviz Panel Designer unresponsive"
I've recently uploaded bigwig data via url and tried to create a epiviz panel on the umgear.org site. The specific issue is on the "Step 2: Add Tracks to Epiviz viewer" step - Clicking on the blue ADD CHART
![image](https://user-images.githubusercontent.com/13540148/130495752-67a77f5d-4012-42fc-b5a9-780523ec35e4.png)
button does not seem to do anything. Is this a known problem?

[2021-08-23 18:42] brianherb commented on #23
looks like this error pops up when the button is clicked:
epiviz-components.html-202.js:181 Uncaught TypeError: Cannot read property 'forEach' of null
    at HTMLElement.handleGetCollections (epiviz-components.html-202.js:181)
    at HTMLElement.handler (epiviz-components.html-12.js:83)
    at HTMLElement.fire (epiviz-components.html-37.js:388)
    at HTMLElement._handleResponse (epiviz-components

[2021-08-23 19:55] brianherb commented on #23
Update - I created a trackhub and was able to view it on the UCSC genome browser, so bigwigs are fine.  When I tried using this trackhub to upload data, I got the following error:

jquery-3.3.1.min.js:2 GET https://umgear.org/trackhub?hub=http%3A%2F%2Fdata.nemoarchive.org%2Fother%2Fgrant%2Fsament%2Fsament%2FEdge_ATAC%2FTrackHub%2Fhub.txt 500 (Internal Server Error)

[2021-08-23 22:28] jorvis commented on #23
I have updated the production server and restarted apache.  Please re-open if this is still an issue.

[2021-08-23 22:28] #23 closed

[2021-08-25 13:57] gear-portal-team opened #25 "SAdkins test"
**From:** Shaun Adkins

**Email:** shaun.adkins@gmail.com

**Msg:** Testing on public repo

**Tags:** ['test']

**Screenshot:** https://umgear.org/contact_screenshots/12cadbfd-b32b-4f79-a5f4-a362d67082b5.png

[2021-08-25 13:58] adkinsrs commented on #25
Woohoo it worked.  It did not assign Elena to the ticket though, probably since she is not listed as a contributor for this repository I guess

[2021-08-25 14:03] adkinsrs commented on #21
See #25...

It works and will send to either IGS/gEAR or jorvis/gEAR depending if the "is private data involved" checkbox is checked.

A couple things.

- Elena is supposed to be auto-assigned as the "assignee" but she does not seem to be associated with this repo, so it did not auto-assign her.
- I did this on gear-devel, but "gEAR/www/contact_screenshots/files needs to be created (that directory

[2021-08-25 14:46] jorvis commented on #21
I added @echrysostomou84  now but it's waiting for her response before she's officially on the repo.

![Screenshot from 2021-08-25 09-45-27](https://user-images.githubusercontent.com/330899/130812444-76d77ccf-d94c-41eb-ba67-fd628e017c32.png)

[2021-08-26 13:22] adkinsrs opened #27 "SAdkins test"
**From:** Shaun Adkins

**Email:** shaun.adkins@gmail.com

**Msg:** testing modal for public repo.  disregard

**Tags:** ['']

**Screenshot:** https://umgear.org/contact_screenshots/e639aedb-c263-4ad3-8854-de6706d0f93c

[2021-08-26 13:22] #27 closed, assigned to songeric1107

[2021-08-26 13:29] adkinsrs opened #28 "SAdkins test"
**From:** Shaun Adkins

**Email:** shaun.adkins@gmail.com

**Msg:** another test... yippee

**Tags:** ['test']

**Screenshot:** None

[2021-08-26 13:29] #28 closed, assigned to songeric1107

[2021-08-30 19:18] songeric1107 commented on #17
@jorvis , sorry to bother you again. We made more changes to the SVG. could you please change the zero to the white color of this version (v7)?

https://umgear.org/dataset_curator.html#/dataset/4d4eb481-2a2f-3918-1ada-30fb535bd0c7/displays

![Screen Shot 2021-08-30 at 3 17 35 PM](https://user-images.githubusercontent.com/6730079/131392868-53eabb9b-3547-415b-96b7-2bf66f8812a4.png)

[2021-08-30 19:21] jorvis commented on #17
OK, please try again now and re-open if necessary.

[2021-08-30 19:21] #17 closed

[2021-09-08 15:38] adkinsrs commented on #8
I believe the issue lies in that bootstrap-tokenized only supports Bootstrap 3 (according to the Github page README) and we are using Bootstrap 4 on our projects.  Since this developer has posted they are no longer maintaining this project, I will switch this over to using Select2, which I used in the multigene curator for the same thing

[2021-09-08 15:56] adkinsrs commented on #8
Committed 79b24e3

[2021-09-08 15:56] #8 closed

[2021-09-08 17:32] songeric1107 opened #30 "the search result always points to "PTS-NIHL" profile"
tying to search a dataset as follow, after I click the "view" icon, the page always indicates the datasets belong to PTS-NIHL profile. But in reality, it is not.

![Screen Shot 2021-09-08 at 1 29 31 PM](https://user-images.githubusercontent.com/6730079/132556619-1fdc7029-da91-416a-8eba-021fc2e0e76e.png)

![Screen Shot 2021-09-08 at 1 19 25 PM](https://user-images.githubusercontent.com/6730079/1325

[2021-09-08 18:51] #22 closed

[2021-09-08 18:57] jorvis opened #31 "Create improved/heirarchical menu systems for gene carts and profiles"
These lists are getting increasingly long, so we need the ability to both let users nest these into named 'folders' but also update the UI elements to show them better.  For both we should have two version so either can be used in the interface as appropriate.  Those views are:

- Icon-based launcher which opens the actual menu
- Icon plus label so you can see which is currently selected

Thee wil

[2021-09-08 20:41] adkinsrs commented on #31
Looking at https://www.jstree.com/ to potentially implement the tree functionality.  I like that it uses a familiar tree folder hierarchy pattern, but you can specify node types with custom icons and restrictions (this node cannot have child nodes, etc.).  There is also some CRUD functionality as well.

[2021-09-10 13:41] adkinsrs commented on #31
Think I'm gonna prototype this in a separate JS file that can hopefully be imported into the various pages

[2021-09-13 14:36] adkinsrs commented on #31
<img width="955" alt="Screen Shot 2021-09-13 at 10 34 25 AM" src="https://user-images.githubusercontent.com/5665914/133103148-49faf2df-860a-4304-bcea-4f2ab3e7575e.png">

Prototype of two trees... one for gene carts and one for profiles.  I used font-awesome icons for the various node types in the tree, and with the profile tree, the user and public profile folders can be opened and closed to revea

[2021-09-13 15:00] jorvis commented on #31
OK, this is a good start, with the profile tree especially.  My hope is that these would be menus in containers opened by clicking a button with an icon vs a select menu.  So ideally whatever libraries you are using would support that idea.  Maybe I could mock it up to help describe things here.

[2021-09-13 15:09] adkinsrs commented on #31
Should be doable.  Click the button on the main page, bring up a modal or popover with the container for the tree.  I also integrated a search plugin to search/filter results as well (not pictured above).

I was planning on naming this prototyping script "data_tree.js" or something and the pages that would utilize it can import said file.

[2021-09-13 15:10] jorvis commented on #31
OK, great.  And what's the database change to support it, keeping in mind one profile could appear within multiple folders?

[2021-09-13 15:20] adkinsrs commented on #31
I have not changed anything in the database yet.  Was getting data from the get_user_layouts.cgi AJAX call, and assigning to public/user profiles, much like https://github.com/IGS/gEAR/blob/920fc67be92ecedf89d89ad99eaa0278488ceeee/www/js/index.js#L345

I'm sure there will be some changes that need to be made, but taking small steps for now.

[2021-09-13 15:39] adkinsrs commented on #31
<img width="1226" alt="Screen Shot 2021-09-13 at 11 38 55 AM" src="https://user-images.githubusercontent.com/5665914/133113948-6391326f-2780-491a-87a3-ad3e962cf04a.png">

[2021-09-14 18:58] jorvis opened #32 "Purge schema of unused columns/tables"
This obviously isn't critical but it's bothering me so I wanted to make note of it.  There are many columns and even tables which were part of the initial schema and design but which have fallen unused are are no longer needed.  It would be good to rid the schema of these, along with any API calls expecting them, and fully test the system afterwards to make sure none were missed.

Candidates to re

[2021-09-14 19:12] adkinsrs commented on #32
I know there is the math preference field for a dataset (log2 vs log10) but I assume layout.math_preference was originally going to adjust/normalize the log scale for all datasets in a layout, correct?

Is it possible that the "anatomy" table would have some application for NeMO Analytics?

Regarding the 3 "dataset" fields, I feel that load_status and plot_default are OK to remove, but I have enco

[2021-09-15 14:52] songeric1107 opened #33 "upload GSE161156_34477109 to gEAR"
upload raw count of GSE161156 to gEAR

Elife
. 2021 Sep 3;10:e66547.  doi: 10.7554/eLife.66547.
Dual expression of Atoh1 and Ikzf2 promotes transformation of adult cochlear supporting cells into outer hair cells

[2021-09-21 15:51] songeric1107 opened #34 "add top highly variable genes list to single cell workbench"
it will be helpful for users if we can provide top high variable genes for PCA plotting.

it the genes provided are not in the highly variable gene list, the pca plotting will fail and prevent user to move to the next step

![Screen Shot 2021-09-15 at 2 44 06 PM](https://user-images.githubusercontent.com/6730079/134203855-15f3c8ef-a44e-4b5a-b934-f86faad73221.png)

[2021-09-21 16:00] JPReceveur opened #35 "QC by mitochondrial content fails if no filtering is chosen during initial step"
Using the single cell workbench, if no filtering boxes are chosen (default shows exclude cells with <300 genes and genes in < 3 cells but boxes are not checked by default), can proceed to the next step but QC step will give an error.
Error replicated with:
    P2, mouse, scRNA-seq, cochlea (Hertzano/Ament)
    Crista Ampullaris, Macrophages, PseudoExp (Bermingham-McDonogh)

[2021-09-21 16:11] JPReceveur opened #36 "Table of highly variable genes not shown: single cell workbench"
Single Cell Workbench: PCA/Identify highly variable gene step:
Table of highly variable genes not shown, makes it difficult to select genes to colorize for PCA step

<img width="732" alt="Screen Shot 2021-09-21 at 12 05 15 PM" src="https://user-images.githubusercontent.com/28451557/134206761-402712d8-82d1-4067-bcb9-d4838aeb0181.png">

[2021-09-21 16:13] #36 closed

[2021-09-21 16:14] JPReceveur commented on #36
Repeat of previously added issue, closed

[2021-09-22 18:19] songeric1107 commented on #33
also upload the Seurat processed results to gEAR.

https://umgear.org/p?l=5bcbfa1a

and create a new profile called "ikzf2_scRNAseq" which include the datasets from this manuscript and Ronn's published dataset

[2021-09-24 12:43] #33 closed

[2021-09-27 18:44] adkinsrs commented on #20
Adding for future reference.  Attempted to change volcano plot DEG test to use diffxpy's Wald test instead of the Welch's (Student) t-test.  The Wald test requires a training model to be built and an estimator to iterate until converges, and this process takes a bit too long to be useful in gEAR where we would want the results in a reasonable amount of time.

[2021-09-27 19:48] adkinsrs commented on #35
This is on umgear.org, correct?  I'll peruse the logs.  May be a missing module.

[2021-09-27 20:02] adkinsrs commented on #35
Replicated the issue (did not check any filter boxes, and used P2, mouse, scRNA-seq, cochlea (Hertzano/Ament)
dataset). Here is the error from logs

[code]

It looks like the CGI script for the filtering step h5ad_apply_primary_filter.cgi adds the "n_genes" and "n_cells" in the set of observations for the AnnData object by way of Scanpy.  If no filters are applied, then these columns are not added

[2021-09-28 03:43] jorvis commented on #35
I'm a little surprised this could happen at all. I thought the toggle for QC by mito wasn't even enabled until a primary filter step was performed.

[2021-09-28 12:11] adkinsrs commented on #35
@jorvis would it be a better fix to ensure that toggle is disable until at least one filter is checked?  While rare, I feel there may be times where a user would just want to proceed with the unfiltered data.

[2021-09-28 17:48] adkinsrs commented on #35
Addressed in commit 7fa6d38

Works on my machine and will deploy and test on the devel server soon

[2021-09-30 17:23] adkinsrs commented on #13
Currently grey is the 0.0 value for the "split by group" plots, but I can modify the code to add grey for the single gene expression plot as well.

[2021-09-30 17:53] adkinsrs commented on #13
addressed with commit 479d272.  Will need to verify in gear-devel.

[2021-09-30 17:58] adkinsrs commented on #13
<img width="1159" alt="Screen Shot 2021-09-30 at 1 57 43 PM" src="https://user-images.githubusercontent.com/5665914/135506864-aa4a39ea-9864-412a-8dc8-e9ba657f4a4d.png">

@songeric1107 this is the picture of the dataset from above using "sox2" as the gene.  Is this fine?  Looks like a lot of gray 0-expression cells.

[2021-09-30 18:07] adkinsrs commented on #31
New fix I need to do.

* If the user changes accounts, update the gene cart and profile trees.  Currently if the user is switched, the original trees remain, though a page refresh will correctly retrieve the right data to build the trees

[2021-10-01 13:04] adkinsrs commented on #13
@songeric1107 mentioned this looked fine (though Sox2 is a bad example since there is virtually no expression in this dataset).  I tested using Malat1 as well, since it is expressed in the majority of cells, and things looked fine.  Closing for now

[2021-10-01 13:23] adkinsrs commented on #13
@songeric1107 said this looks fine.  I also tested with Malat1, which has expression in most of the cells as well.  I've closed the ticket since this is deployed on devel, but feel free to reopen if there is contention with this change.

[2021-10-01 13:23] #13 closed

[2021-10-01 13:25] adkinsrs opened #38 "Have a profile explorer"
Suggested by Ronna in the sprint meeting

It would be nice if there were a way to explore profiles in the same way that datasets can be explored.  Ronna was suggesting either a profile explorer page, or an alternative view from the dataset explorer page.

[2021-10-01 13:31] adkinsrs opened #39 "Notifications about published datasets."
Suggested by Ronna in the sprint.

Ronna noted that is hard at times to determine if a manuscript for a dataset on gEAR is published.  A notification would be useful to help facilitate smoother communication with the gEAR staff.  Ronna noted that occasionally she is not aware if that dataset's manuscript is published until @songeric1107 lets her know. I am not entirely sure if this is a notificati

[2021-10-01 13:32] adkinsrs commented on #35
Deployed on the devel server.  Will close this ticket for now, as @jorvis plans on deploying the codebase to the main gEAR site within the next week or so.

[2021-10-01 13:32] #35 closed

[2021-10-04 17:52] adkinsrs commented on #34
I'll tackle this

[2021-10-04 19:37] adkinsrs commented on #34
<img width="917" alt="Screen Shot 2021-10-04 at 3 35 50 PM" src="https://user-images.githubusercontent.com/5665914/135913362-19acb1c7-1517-4f3b-bde8-b9b0c63e6784.png">

@songeric1107 Here is a first stab at this.  See the genes right above the Plot/Save buttons.  I sort the highly variable genes by the normalized dispersion, as reported by `scanpy.pp.highly_variable_genes` and return the top 5 res

[2021-10-04 19:39] adkinsrs commented on #34
I also fixed a bug with the CGI script generating PCA plots, where it will fail if the "genes to colorize" text box is empty instead of generating a non-colorized PCA plot.

[2021-10-05 13:43] songeric1107 commented on #34
I think it is good idea to list top5 for user to start with

On Mon, Oct 4, 2021 at 3:39 PM Shaun Adkins ***@***.***>
wrote:

[2021-10-05 15:28] adkinsrs commented on #34
Is it fine to close this?  The code is committed but not deployed yet

[2021-10-05 17:17] adkinsrs commented on #31
So I'm thinking of making a separate page where the user can edit their genecart or profile hierarchical tree that we can load onto other pages.  Here's some note ideas I was tinkering with:

- User can only edit the hierarchy of their user profiles/gene carts.. not the public ones (when the tree loads for them).  I am a bit flexible with this, but since the current trees have "public" and "user"

[2021-10-05 18:00] songeric1107 commented on #34
sure

On Tue, Oct 5, 2021 at 11:29 AM Shaun Adkins ***@***.***>
wrote:

[2021-10-05 18:12] adkinsrs commented on #14
@songeric1107 the query_cluster dropdown is dictated by the observation column used, and passed into `scanpy.tl.rank_genes_groups`.  By default this group is the "louvain" group, and in this dataset the values in the "louvain" column do not have the "Ctrl_" prepended to them like the "cluster_label" ones do.

[2021-10-05 18:13] #34 closed

[2021-10-06 19:46] adkinsrs opened #41 "Multigene Curator - After selecting dataset and plot_type, load a "default" plot"
Suggested at the lab demo.

On the multigene curator page, after the user selects a dataset and a plot type, load a "default" plot for the dataset, so that the page does not appear so empty.

I feel the priority for a "default" plot is:
1. Saved default display (irrespective of plot type chosen)
2. Either a heatmap or volcano plot.
  1. If heatmap, we need to know some genes to use, which can be d

[2021-10-06 19:53] adkinsrs opened #42 "Multigene Curator - Add Quadrant Plot"
Suggested at the lab meeting by @songeric1107

Add a quadrant scatter (4-way expression) plot as a option to view gene expression between two conditions

[2021-10-06 19:55] adkinsrs opened #43 "Multigene Curator - Thumbnails for plots"
Suggested at a lab meeting by @songeric1107

Add thumbnails to show users a preview of what each plot type looks like.  I think these may be too small to add to the dropdown menu where the user selects their plot type, but I think we could add a "help" tooltip to show them.

[2021-10-06 19:57] adkinsrs opened #44 "Multigene Curator - Configure height/width of Plotly figure download"
Suggested at a lab meeting

Add options to set dimensions of Plotly .png figure download.  This is normally preset, and figures can appear distorted or cramped sometimes.

[2021-10-06 19:59] adkinsrs opened #45 "Multigene Curator - Heatmap - Implement Bray-Curtis distance option for clustergram"
Current default is Euclidean for clustergram.  Let user configure

[2021-10-06 20:00] adkinsrs opened #46 "Multigene Curator - Volcano - Add additional statistical tests"
Current statistical test to compare conditions is the Welch's t-test as implemented by the diffxpy package.  @songeric1107 requested additional test options, such as the Wilcoxon (rank-sum) test.

[2021-10-06 20:01] adkinsrs opened #47 "Multigene Curator - Volcano - Create gene cart from plot output using lasso tool"
Suggested at lab meeting

[2021-10-06 20:04] adkinsrs opened #48 "Front page - Create single-gene/multigene toggle"
Currently I added the font awesome gear/gears icons as a placeholder, but it would be nice to have a formal button toggle for this.

Single Gene (to left of magnifying glass)
<img width="632" alt="Screen Shot 2021-10-06 at 4 02 13 PM" src="https://user-images.githubusercontent.com/5665914/136274974-428ca789-6ad0-4ced-9844-f82aa7a58d9a.png">

Multigene toggle
<img width="627" alt="Screen Shot 2021-

[2021-10-06 20:07] adkinsrs opened #49 "Multigene Curator Volcano plots - Add option to color plot by an optional group instead of by up/downregulated genes"

[2021-10-06 20:08] adkinsrs opened #50 "Multigene Curator - Violin plots - Use passed in "{}_colors" column instead of Plotly Dark24 color palette if present"
Just like how Scanpy does

[2021-10-06 20:09] adkinsrs commented on #20
I created new tickets for any list elements that I found relevant and new suggestions based on a recent lab meeting.  Closing this ticket.

[2021-10-07 15:47] jorvis opened #51 "Gene cart manager - Make carts editable"
This involves a few different components:

- Make primary cart attributes (label, organism, etc.) editable
- Make the gene lists themselves editable
  - Put delete/re-upload buttons on the list so users can recreate them like they did the first time
  - Unweighted list could be directly editable to add/remove individual genes

[2021-10-07 15:48] jorvis opened #52 "Add support for downloading H5AD files"
Currently there is support for downloading the original, source tarball.  Add another download option for the H5AD files.

[2021-10-07 15:51] jorvis opened #53 "Gene cart manager - Add ability to link to home page, pre-loading that cart"
The gene cart manager currently has disabled links to take the user straight to the home page.  This means permalinks need to support the use of shared gene carts in the API, and the front page needs to preload those genes and execute a search.

[2021-10-07 16:23] adkinsrs commented on #31
For reference the "1" point label is for the remaining conversion of the gene cart list to a tree object on the gene_cart manager.  Any future tasks will be new created issues

[2021-10-07 18:39] jorvis opened #54 "Gene cart importing from NeMO Archive"
NeMO Archive curated lists - Carlo to find this path/info

[2021-10-07 18:39] jorvis opened #55 "Gene cart importing from GO"
Gene Ontology - User will choose one or more GO terms and organism, then we pull all genes associated with those GO terms.  Can we still embed [AmiGO](http://amigo.geneontology.org/)?

[2021-10-07 18:39] jorvis opened #56 "Gene cart importing from MsigDB"
[MSigDB](https://www.gsea-msigdb.org/gsea/index.jsp) - A database of gene lists

[2021-10-07 18:41] jorvis opened #57 "Gene cart exporting to EnrichR"
[EnrichR](https://maayanlab.cloud/Enrichr/) - Enter gene list takes you to a results page.  Could we do this directly so that clicking on a list submits the form and shows the results page immediately?

[2021-10-07 18:42] jorvis opened #58 "Gene cart exporting to PANTHER"
[PANTHER](http://www.pantherdb.org/) - How far can we link here?  Don't see an API

[2021-10-08 13:11] songeric1107 opened #59 "add a function to the data uploading component to check any strange unprintable character in the meta-data excel sheet"
To avoid any unprintable character in the files which will block the uploading process, it will be helpful to add a component to pre-check the unprintable or Latin characters, especially in the metadata sheet

[2021-10-08 17:03] jorvis opened #60 "Add profile name/ID to list_datasets.py utility script"
From Yang:

[2021-10-08 17:27] #60 closed, assigned to jorvis

[2021-10-12 14:32] #46 closed

[2021-10-12 15:03] #50 closed, assigned to adkinsrs

[2021-10-12 16:58] jorvis commented on #47
Commit 0de09bd hopefully resolves this

[2021-10-12 19:23] #52 closed, assigned to jorvis

[2021-10-12 19:26] adkinsrs opened #61 "Dataset panel frames do not load when using a single-dataset permalink on index.html"
See https://github.com/IGS/gEAR/commit/7246dfd5282fed78e19160a3837baa5aa1f138c9#r57895335

[2021-10-13 14:32] #61 closed

[2021-10-13 20:39] adkinsrs opened #62 "Saving genecart fails (via multigene curator tool)"
Think there may be a bug in save_new_genecart.cgi:
[code]

Seems whatever is being passed to the self.file.write() is bytes instead of string.

My payload:
[code]

[2021-10-14 12:51] adkinsrs opened #63 "Gene Cart - Make label required"
I was testing the gene cart manager (to see if I need to add my tree structure code there).  I created a gene cart without a label, and I realized that I have no way to search for this cart since the search is done by label.  So I propose making the label required or give a warning that the dataset will not show in label-based searches.

[2021-10-15 14:32] adkinsrs opened #64 "Replace dataset dropdowns with tree structure"
Relates to #31

Replace the huge dropdowns in compare_datasets.js and multigene_curator.js with tree.js Tree objects.

[2021-10-15 14:33] adkinsrs opened #65 "Multigene Curator - Add documentation to manual"

[2021-10-18 13:18] adkinsrs opened #66 "Multigene Curator - Add dot plot"
The CellDepot tool has a dot plot option for multigene searches, and I was thinking we could have something similar for the curator.

Attached is a sample dot plot with some of the options used
<img width="1360" alt="Screen Shot 2021-10-18 at 9 17 36 AM" src="https://user-images.githubusercontent.com/5665914/137738831-2d6f4c10-5d08-4083-859e-a55f67956cda.png">

[2021-10-18 14:28] adkinsrs opened #67 "Curators - Look into providing downsampling options"
Saw this implemented in CellDepot.  Multigene plots have an option to downsample large datasets by various amounts (1K, 5K, 10K, 50K I believe).  I think this may be a good idea to implement in gEAR, and as a secondary benefit would also help with issues where a dataset is too large.

[2021-10-18 15:26] jorvis opened #68 "Get rid of hard-coded dataset list in compare_datasets.js"
The "log10_transformed_datasets" variable needs to be removed and replaced with something more secure.

[2021-10-18 17:37] jorvis opened #69 "Add link to gene cart manager on comparison tool"
Obviously we need to release it first, but when a user creates a gene cart using the comparison tool we should show the success message and include a link to the gene cart manager directly.

[2021-10-18 17:49] jorvis commented on #62
OK, several recent commits and gene cart saving via JSON submission is fixed.  Example usage:

https://github.com/IGS/gEAR/blob/main/www/js/compare_datasets.js#L546

[2021-10-18 18:56] adkinsrs commented on #62
committed multigene curator GeneCart call/save.  Also fixed a genecart loading bug at the same time

[2021-10-18 18:56] #62 closed

[2021-10-19 05:18] jorvis commented on #63
Now reddens the required field and halts submission if label not entereed:

![Screenshot from 2021-10-19 00-17-01](https://user-images.githubusercontent.com/330899/137848209-f14f05cc-63ff-416c-884c-20f53f56cf70.png)

[2021-10-19 05:18] #63 closed

[2021-10-19 18:57] #65 closed, assigned to adkinsrs

[2021-10-20 15:56] jorvis opened #70 "All displays currently failing on my local with "ImportError: cannot import name '_endpoint_from_view_func' from 'flask.helpers'""
I've made sure my code was current and restarted apache with the same result.  Can replicate with all datasets I try to view.  Apache log shows:

[code]

[2021-10-20 16:53] adkinsrs opened #71 "Contact form page - Differentiate between origin of submission"
Currently if anyone submits a comment/question using the contact HTML page, it will be sent to IGS/gEAR issue tracker or the private repository area.  However, we have no way of determining if the comment originated from gEAR, NeMO Analytics, or any other reskinned portal unless the message is clearly inferable.

I believe that we should add a plugin configuration to each skin, or at least add a e

[2021-10-20 18:13] adkinsrs commented on #70
https://github.com/flask-restful/flask-restful/pull/913

Referenced in https://stackoverflow.com/questions/67496857/cannot-import-name-endpoint-from-view-func-from-flask-helpers-in-python

[2021-10-20 18:39] jorvis commented on #70
OK, found the problem:

[code]

As I suspected, my install of another tool updated that Python directory.

[2021-10-20 18:39] #70 closed

[2021-10-22 02:07] jorvis opened #72 "No scrolling on profile selection tree?"
When I load the profile selection tree I can't seem to scroll in the widget which appears.  Using Chrome.
![Screenshot from 2021-10-21 21-06-30](https://user-images.githubusercontent.com/330899/138381686-2657aa76-299e-4069-8dc1-e3c6276f5865.png)

[2021-10-25 13:25] #71 closed, assigned to adkinsrs

[2021-10-25 14:16] jorvis opened #73 "Create slide set for NIH-ODSS meeting"
Details sent by Ronna to me e-mail, but for meeting this Tues/Wed.

[2021-10-25 17:43] adkinsrs opened #74 "Volcano Plot - Adjust annotation line lengths"
From an IGS user

Attached plot to illustrate point
![newplot (3)](https://user-images.githubusercontent.com/5665914/138744167-76cce0fb-8d4a-44ad-acc0-8ee04ea14d32.png)

My response:

[2021-10-25 18:23] songeric1107 opened #75 "epiviz misdisplay the annotation of human dataset as mouse"
the epiviz track highlights the "annotation of the organism" as **mouse** although the track is built based on **human.**

![Screen Shot 2021-10-25 at 2 19 51 PM](https://user-images.githubusercontent.com/6730079/138749109-8d2c39aa-caae-4f90-907a-892e4b780160.png)

related to ticket https://github.com/jorvis/gEAR/issues/1085

[2021-10-26 03:22] #73 closed, assigned to jorvis

[2021-10-26 15:11] #74 closed, assigned to adkinsrs

[2021-10-26 17:16] adkinsrs opened #76 "Testing server IP"
**From:** Shaun Adkins

**Email:** shaun.adkins@gmail.com

**Server IP:** 172.18.0.2

**Msg:** This is a test to see if Server IP address shows up in Github issue

**Tags:** ['test']

**Screenshot:** None

[2021-10-26 17:17] #76 closed, assigned to songeric1107

[2021-10-27 04:31] #75 closed, assigned to jorvis

[2021-10-27 17:00] jorvis opened #77 "Identify methods for tracking publications citing gEAR"
Some can be found via google scholar and PubMed but that does not include bioarchive papers, I think.

[2021-10-27 18:26] jorvis opened #78 "NIH FAIR/TRUST review meeting and tasks"
Noting here for work tracking purposes.  Meeting is both days yesterday and today and will guide some gEAR development in the future.  I'll use this ticket also as a master ticket for subtasks related to this.

[2021-10-29 13:25] RLC-DCPPC opened #79 "Planning Meeting 11/10"
- Cell Depot (shaun) - a few slides and demo (15 minutes)
- Carlo (15 minutes)
- updated docs for new features
- demo for group the features of the new release

- Joshua? (in two weeks, focus on release)

[2021-10-29 13:35] songeric1107 opened #80 "Comparison tool: Allow users to define comparison-eligible columns"
The comparison tool dynamically generates the menu options based on observation columns not in an exclusion list. If there are more than 5 columns it throws a descriptive error to the user.

It would be nice if at some point in the dataset upload or in the Explorer the user could instead choose which obs columns are appropriate to be included as conditions in the comparison tool.

It is the same a

[2021-11-03 16:36] #72 closed, assigned to adkinsrs

[2021-11-05 17:06] adkinsrs commented on #80
Ready for testing now.  Waiting for the production rollout to complete then I will push this to the devel server

[2021-11-05 17:11] adkinsrs opened #81 "Comparison tool: Ability to convert erroneously numerical conditions into categorical ones"
@songeric1107 suggested this as feedback from #80.

We should add some ability to convert a non-categorical observation into a categorical one when selecting groups within each condition. The current change will exclude all non-categorical (i.e. numerical or continuous) observations from consideration but there are times when a user uploads a dataset where the numerical-datatype observation should

[2021-11-05 18:04] adkinsrs commented on #69
Is this done?  If it's in "main", I can merge "main" into my issue_80 branch to keep that branch codebase (and comparison tool code) up-to-date.

[2021-11-05 19:19] #66 closed

[2021-11-08 15:07] jorvis opened #82 "Ortholog lookup box"
From Ronna:

This is a request from the HRP - we need to have an 'ortholog lookup' function somewhere in the top page links or somewhere else.

Explanation - for many genes there are different gene names for orthologues. So, if someone is interested in atoh1 in mouse, in zebrafish they are called atoh1a and atoh1b and in other species they may have a completely different name.

Can we have a hyper

[2021-11-08 16:24] jorvis opened #83 "Deafness annotation plugin not working"
Reported by @hertzaron:

Deafness gene annotation not working on my computer and my student has a mac and not working for her. we can't get to the links.

[2021-11-08 16:26] jorvis commented on #83
I am not able to replicate this, tested with Chrome Version 94.0.4606.61

https://user-images.githubusercontent.com/330899/140779887-66a8a228-bd11-48b6-bd19-26ab5ce6053e.mp4

[2021-11-08 16:27] jorvis commented on #83
https://user-images.githubusercontent.com/330899/140780180-7a09e0e4-9721-4996-a5ce-cf70770fbac6.mp4

[2021-11-08 16:28] jorvis commented on #51
Pushed to devel for testing.

[2021-11-08 16:28] #51 closed

[2021-11-09 18:47] jorvis commented on #82
[Biomart](http://www.biomart.org/) is usually considered the leading tool/approach here.

[2021-11-10 15:27] jorvis opened #84 "Create documentation for gene cart manager"
Includes screenshot slide set and video walkthrough

[2021-11-10 17:14] songeric1107 opened #85 "update the scrna profile (Ikzf2) for Dr. Liu"
the PI corrected the labeling of cells, the profile has been updated

https://umgear.org/p?l=dc7aaabf
![Screen Shot 2021-11-10 at 12 02 40 PM](https://user-images.githubusercontent.com/6730079/141160673-2aaf804a-aaf2-43d5-9d59-38937cffcb4f.png)

[2021-11-11 19:45] songeric1107 commented on #85
get the 2nd version of the corrected dataset.
the profile is updated
![Screen Shot 2021-11-11 at 2 42 29 PM](https://user-images.githubusercontent.com/6730079/141359281-b690f997-a86e-4867-ae14-0cb05f6a3688.png)
d.

[2021-11-12 14:04] songeric1107 opened #86 "set a profile as public"
Josh

could you please make this profile as public?

https://umgear.org/p?l=dc7aaabf

could you also change the profile name from "scRNAseq-Dr.Liu" to "scRNA-seq - IKZF2-transduced adult SCs (Liu 2021)"?

#85

[2021-11-12 14:09] songeric1107 commented on #86
hold this ticket.

[2021-11-12 15:30] jorvis opened #87 ""Gene not searched" warning displaying on main page even when no permalink was sent"
This shouldn't always be shown:

![Screenshot from 2021-11-12 09-28-49](https://user-images.githubusercontent.com/330899/141491865-404a8424-b742-4937-9ded-8e33466d7011.png)

[2021-11-12 15:31] jorvis commented on #87
Fixed in commit a54a13f

[2021-11-12 15:31] #87 closed

[2021-11-12 15:55] jorvis opened #88 "Not clear that account creation fails if e-mail/user already exists"
Right now if you attempt to create an account with an e-mail address which already exists a warning is displayed quickly but then the page is redirected to the index page, making it unclear to the user that the account creation failed.

[2021-11-12 16:01] #88 closed

[2021-11-12 17:40] jorvis commented on #79
Meeting held.  Things discussed.  Done.

[2021-11-12 17:40] #79 closed

[2021-11-17 03:15] songeric1107 opened #89 "upload rnaseq dataset GSE174389 to gEAR"
GSE174389

add to profile"to_review_3"

https://umgear.org/p?l=undefined

https://umgear.org/dataset_curator.html#/dataset/d837cdfb-93b4-dbc9-31ec-56f4ff6c70ba/displays
![Screen Shot 2021-11-16 at 10 15 21 PM](https://user-images.githubusercontent.com/6730079/142128138-6be74603-2ab4-4c7f-90cd-647293386112.png)

[2021-11-17 13:12] adkinsrs opened #90 "Add "create multigene display" link to front page"
Suggested by Kevin Rose in his review of the multigene display curation tool. Noted it is difficult to find the tool, and you have to do a gene search on the front page just to get to a dataset panel which has the dropdown link to the tool

[2021-11-17 13:17] adkinsrs opened #91 "Multigene plots - Add ability to choose plot color palettes"
Kevin Rose in Ronna's lab suggested to change the heatmap palette from white (low expression) to blue/green (mid) to purple (high expression).  Since I have had other suggestions for heatmap colors (including the current color palette), I believe the best solution is to add a few color palettes and let the user decide what works best for them.

[2021-11-17 13:26] adkinsrs opened #92 "Multigene Heatmaps - Better handle supplementary violin plot creation situations EDIT - drop supplementary plots"
Currently the following situations cannot result in a supplementary violin plot when a gene from the heatmap is clicked.

* When just one gene is in the heatmap - The heatmap is created differently in this situation (uses plotly heatmap) compared to when multiple genes are present (uses Dash.bio clustergram)
* When "cluster observations" is clicked.  Clicking this option disables the "groupby cate

[2021-11-17 13:34] adkinsrs opened #93 "Multigene violin - Add ability to choose violin color swatch"
Suggested by Kevin Rose in Ronna's lab.  Currently violin plots use the plotly "Vivid" discrete color palette to create the various violin groups.  He would like to be able to change the color scheme, so I will add the choice of choosing other color palettes within Plotly, like "Light24", "Dark24", or "Alphabet".

[2021-11-17 13:38] adkinsrs opened #94 "Multigene violin - Ability to group by cell type rather than by gene"
Suggested by Kevin Rose and by Carlo in the gEAR team.  Violin plots currently group by gene (inspired by the Single Cell Portal at the Broad Institute), but there have been requests to group by cell type instead.  Kevin, in particular, cited modeling it like the scanpy stacked violin plot

![image](https://user-images.githubusercontent.com/5665914/142210925-142699d7-efa5-468a-b69e-2b99ea1235df.pn

[2021-11-17 13:40] adkinsrs opened #95 "Multigene Volcano - Click a gene to annotate it on the plot"
Suggested by Kevin Rose.  He would like the ability to click a gene in the volcano plot to annotate it.  Have to ensure this does not interfere with the functionality of selecting genes for the gene cart.

[2021-11-17 13:49] songeric1107 opened #96 "multigene display--unselect the gene cart"
add an option to unselect the gene cart.

If the user mis-select a gene cart, there is no option to unselect it.  Although user can chose "reset options", user has to reselect everything again.

![Screen Shot 2021-11-17 at 8 45 43 AM](https://user-images.githubusercontent.com/6730079/142212395-d9080d43-4650-45dd-a263-aa1a3f0b4463.png)

[2021-11-17 15:04] adkinsrs commented on #96
You can just click the "X" to the far-right of the Gene Symbols dropdown and clear the genes

[2021-11-17 15:37] songeric1107 commented on #96
I refer to "load from gene cart", not the genes.

[2021-11-17 15:38] adkinsrs commented on #96
Ok I will add a "clear" feature, but if you choose another gene cart entry it will actually overwrite the genes already the selected with the new gene cart

[2021-11-17 15:40] songeric1107 commented on #96
yes, that will be great for providing another option for "changing mind of using gene card"

[2021-11-17 17:43] jorvis opened #97 "Create multi-gene curations for datasets in core profiles"
This should be done for each of the public/site profiles.

[2021-11-17 17:43] jorvis opened #98 "Add a "What's new" section somewhere on front page"
This should be organized by tagged releases.

[2021-11-17 17:43] adkinsrs opened #99 "Temporarily disable multigene toggle button"
Both on front page and gene results display page.

Keep disabled until some default multigene plots are populated

[2021-11-17 18:01] jorvis opened #100 "Resolve having users specify value types and scaling factor when uploading"
We need to require them specifying if the values are RPKM, TPM, etc and if they are log transformed.

[2021-11-17 20:03] songeric1107 commented on #86
Josh, please go ahead set this profile as public with the name change as above. Thank you

[2021-11-17 20:03] adkinsrs commented on #90
done with 62c8902

[2021-11-17 20:03] #90 closed

[2021-11-17 20:06] adkinsrs commented on #99
done with ad8a082

[2021-11-17 20:06] #99 closed

[2021-11-17 20:10] jorvis commented on #86
OK, this is done.

[2021-11-17 20:10] #86 closed

[2021-11-19 14:02] songeric1107 opened #101 "add a dataset to public profile "other""
could you please add this dataset to the public profile "Other"?

https://umgear.org/dataset_curator.html#/dataset/d837cdfb-93b4-dbc9-31ec-56f4ff6c70ba/displays
"RNASEQ, schwannoma cells exposed to electromagnetic field (EMF)"

[2021-11-19 20:12] jorvis opened #102 "Login failing on gene cart manager page"

[2021-11-19 20:17] jorvis commented on #102
Scratch this, my gear.ini didn't have db credentials for my local set up.

[2021-11-19 20:17] #102 closed

[2021-11-19 22:33] songeric1107 opened #103 "add an option to sort by pubmed ID under "dataset explorer""
could we add another option "sort by pubmed ID" under the sort function? it will help users to sort the published or unpublished dataset
![Screen Shot 2021-11-19 at 5 32 11 PM](https://user-images.githubusercontent.com/6730079/142699819-a26ee1b3-ca12-48ff-9a8f-cf21a6b5c788.png)
s.

[2021-11-19 22:37] songeric1107 opened #104 "add "go back to the top" icon on "data explorer" page"
could we add an icon to jump back to the top of the page? it is not that user friendly to go back the beginning of the page .

![Screen Shot 2021-11-19 at 5 36 02 PM](https://user-images.githubusercontent.com/6730079/142700070-483eacfb-91b7-4777-859b-132a2bccc22f.png)

[2021-11-19 23:31] jorvis commented on #101
This has been done and I've made the dataset public.

[2021-11-19 23:31] #101 closed

[2021-11-19 23:59] jorvis opened #105 "Add additional columns to comparison tool skip list"
This is blocking https://github.com/jorvis/gEAR/issues/1047 but we need to add the following columns:

`need to add "Sequence.Pool plate_position Age Genotype Enzyme qc Well.Volume " to skip_column list
`

[2021-11-22 16:21] #42 closed

[2021-11-22 16:21] adkinsrs commented on #42
completed

[2021-11-22 16:25] adkinsrs commented on #41
Addressed in commit ab08a2a

1. The default display for a dataset is loaded if it exists
  1. Worth noting this will also pre-populate the form with the various options used to create the plot.  Not sure if this is desirable behavior or not.
2. If a default display doesn't exist a volcano is drawn using the "cluster" category if it exists, otherwise it takes a random categorical observation. For t

[2021-11-22 16:25] #41 closed, assigned to adkinsrs

[2021-11-22 18:29] jorvis opened #106 "Write automated test for bulk RNA-seq uploader"

[2021-11-22 18:31] adkinsrs commented on #94
This is complete but I'm in a minor fine-tuning stage

[2021-11-22 18:33] adkinsrs commented on #94
Since the task is pretty much complete, I will mark as closed

[2021-11-22 18:33] #94 closed

[2021-11-22 18:38] jorvis opened #107 "The search_genes.py script is called twice when a permalink is used."
Example:

http://localhost/index.html?layout_id=e237084e&gene_symbol=Sox2&gene_symbol_exact_match=1&gene_cart_share_id=undefined&multigene_plots=NaN

This is significant especially when a gene cart is used as those queries can take some time already - doubling them is no bueno.

[2021-11-29 14:01] adkinsrs opened #109 "Multigene Curator - disable "create plot" button until a plot type is chosen"
See title.  The "Create plot" button is shown and enabled after a dataset is chosen. That's fine but the button should be disabled until a plot type is selected.

[2021-11-29 14:05] adkinsrs opened #110 "Multigene Curator - Add back the "Cluster group" bar"
Way back in the early summer, I had added categorical grouping bars to the heatmap to show which metadata an observation was associated with. Sometime after, I removed this feature based on feedback from the GCID group's needs, but it seems that the gEAR and NeMO people would find it very useful.

One issue I have with this is how it will appear in a gene search display panel, as the bar + legend

[2021-11-30 18:22] adkinsrs opened #112 "Multigene Curator - KeyError "index" on Dot Plot"
This "index" error is actually the Ensembl IDs under a category called "index" after some conversion to a dataframe.  Observed this when Ronna was walking me through her steps of using the multigene curator.  Need to replicate this and test.

[2021-11-30 18:25] adkinsrs opened #113 "Multigene Curator - Add option for facets in the various plots"
Currently none of the plots have the option to add facets.  This is useful for non-scRNAseq data where we may want to compare across two or more categories rather than group all observations for that category into a mean or some other aggregate function.

[2021-11-30 18:39] adkinsrs opened #114 "Multigene Curator - Require user to pass at least two genes for heatmap/clustergram"
While technically it is possible to make a heatmap with just a single gene, the odds of someone going to the multigene curator to do such a thing is minimal.  Also, support for this will increase complexity, since this single-gene heatmap is created using Plotly instead of Dash, and the output JSON is different with the default plotting properties.

[2021-11-30 18:40] adkinsrs commented on #92
I decided to drop the supplementary violin plot creation.  It is just a feature that I feel will be too little used, and requires extra support

[2021-11-30 21:43] jorvis opened #118 "Put gene count warnings on multigene display configurations"
When the user selects a multi-gene view the API call should check how many genes are in the cart and report a warning or maybe even exportable image.

[2021-12-01 15:06] adkinsrs opened #119 "User displays are duplicated in owner display box if user is the dataset owner"
I noticed this in the multigene displays curator but I believe it also applies to the gene results display page and the single gene panel.  If the current user is the owner/uploader of the dataset in use, their displays will be retrieved as both user_displays and owner_displays.  This can be problematic, as the the HTML element ID (built by combining dataset and display IDs) will be duplicated and

[2021-12-01 15:25] adkinsrs commented on #92
Committed code to remove this feature

[2021-12-01 15:25] #92 closed

[2021-12-01 17:22] #114 closed

[2021-12-01 17:44] jorvis opened #120 "Abstract annotation from Ensembl to support any sources"
The columns in 'gene' should be changed from:

       ensembl_id
       ensembl_version
       ensembl_release
       genbank_acc

To something more generic like

      source_id
      accession

And then perhaps an annotation_source table with columns like:

     source_label
     source_release

Definitely up for discussion.  I just brain dumped this during a meeting.

[2021-12-01 17:54] RLC-DCPPC opened #121 "update symbols for funding sources on front page"

[2021-12-01 19:46] adkinsrs opened #122 "Multigene Curator - Cleanly handle h5ad observation names with non-word characters"
@songeric1107 pointed out an issue to me as shown in the picture
<img width="1440" alt="Screen Shot 2021-12-01 at 2 42 40 PM" src="https://user-images.githubusercontent.com/5665914/144302840-50c83dd6-9958-44de-aac1-d6873b5b1025.png">

In this picture, the "orig.ident", "ann cluster" and "combine name" observation columns are not populated because when used to form HTML element IDs, they result in

[2021-12-01 20:33] adkinsrs commented on #112
After seeing this in GCID as well, I concluded that some datasets have an "ensembl_ID" field column in adata.var for the Ensemble ID whereas others have "index" instead.  My test dataset used "index" so I wrote the code based on this.  I'm unsure if there was a change in how uploads were handled and converted to h5ad but I think it will be good to account for both conditions.  Or I just need to fo

[2021-12-01 20:52] jorvis commented on #112
You might get clarification from Yang on how these were loaded.  There's the uploader UI and we have some conversion scripts to H5 for very old datasets - it might be these that she used.

[2021-12-01 20:54] adkinsrs commented on #112
I've been in contact.  I was using a Kelley dataset as my test dataset, but Yang uploads everything modern using "ensembl_ID".

[2021-12-02 13:36] adkinsrs commented on #112
I just found another dataset on the GCID portal that used a different field name, "Ensembl_ID".  So I am concerned about the uniformity of the uploaded datasets, and potentially encountering a fourth or fifth variation and so on.

[2021-12-02 13:51] songeric1107 commented on #112
which one is it? I can change it.

On Thu, Dec 2, 2021 at 8:37 AM Shaun Adkins ***@***.***>
wrote:

[2021-12-02 17:48] jorvis opened #123 "Gene cart saves on comparison tool currently broken"
Since the addition of organism_id requirement the comparison tool page isn't passing this to the API call when saving a cart, so it is failing.

[2021-12-02 19:35] jorvis opened #124 "Layout appearance on front page should not be managed by ownership ID"
The dataset table needs a toggle field which controls the layouts which appear on the home page for everyone.

[2021-12-03 13:12] adkinsrs commented on #119
Commited to "new_mg_plots" branch (since I was simultaneously adding fixes locally and to the GCID portal)

[2021-12-03 13:12] #119 closed

[2021-12-06 16:21] jorvis opened #125 "Updates needed for GCID version of gEAR"
Transforming a list of issues e-mailed from Julie into tasks/questions:

- [x] https://github.com/IGS/gEAR/issues/128
- [x] #147
- [x] Restore functionality with aliases
- [x] Wants bar charts for graphs vs. life cycle SVGs
- [x] Want red -> blue color coding for these
- [x] Wants Z-scores to be included
- [x] #440
- [x] Need publications and GEO added for datasets
- [x] Want nematode specific exa

[2021-12-06 18:17] jorvis opened #126 "Make profile and cart selectors on main page actual select elements"
From Anup

[2021-12-06 18:53] adkinsrs opened #127 "Gene display panel - Add "sort" toggle for heatmaps"
Currently we have the ability to sort observations for heatmaps either by clustering, or by a particular "groupby" column (this is partially done).  There has been a suggestion by @amahurkar by way of the GCID group that we should have a toggle in heatmap panels on the gene results page that would let you choose this sorting on the fly without having to create a new saved curation in the multigene

[2021-12-07 17:55] jorvis opened #128 "GCID: Site throws an error when you search for a dataset by name"
From Shaun:

[code]

[2021-12-07 17:55] jorvis commented on #128
Table was missing the latest multi-column index:

[code]

[2021-12-07 17:55] #128 closed

[2021-12-07 19:30] jorvis commented on #121
Logos attached.
![hrp](https://user-images.githubusercontent.com/330899/145093841-1889771a-8010-4e80-90c9-e645bc1a790b.png)
![hearing_health_foundation](https://user-images.githubusercontent.com/330899/145093843-07394ee6-e27e-4993-a1e1-0b7d3325389b.png)

[2021-12-08 04:08] jorvis opened #129 "Create new vestibular profile"
new public profile: Vestibular
Search "Jan" for two datasets, 2x wide each

Also add:
3b3410d0-26cd-6d5c-0d99-0a20b8288d26, three wide
bad48d04-db27-26bc-2324-e88506f751fd - one wide
df726e89-b7ac-d798-83bf-2bd69d7f3b52 - 1 wide
e34fa5c6-1083-cacb-eedf-23f59f2e005f - 3 wide
f7de7db2-b4cb-ebe3-7f1f-b278f46f1a7f - 3 wide

[2021-12-08 04:11] jorvis opened #130 "Can't add dataset to newly-created profile"
Steps to reproduce:

1. Have another profile selected, not owned by self.
2. Search for datasets
3. Create a new profile
4. Attempt to add datasets to that profile

In this scenario the add buttons weren't enabled.

[2021-12-08 04:24] jorvis commented on #129
This has been completed and is publicly available.
![Screenshot from 2021-12-07 22-23-14](https://user-images.githubusercontent.com/330899/145147949-e8e0cc35-b383-4735-861b-7debfa387381.png)

[2021-12-08 04:24] #129 closed

[2021-12-08 16:34] songeric1107 opened #131 "grid on the background of the image"
![Screen Shot 2021-12-08 at 11 32 53 AM](https://user-images.githubusercontent.com/6730079/145246578-5d33a2ce-e3d7-426b-bb3c-ae2f6eee80b0.png)

https://umgear.org/index.html?layout_id=ced52fd5&gene_symbol=sox2&gene_symbol_exact_match=0&gene_cart_share_id=undefined&multigene_plots=NaN

[2021-12-08 17:32] #109 closed

[2021-12-08 17:40] adkinsrs opened #132 "Gene cart created from the multigene display"
From @beamilon on jorvis/gEAR I was playing with the multigene display function. I know the tool is still under modification but I noticed that when I create a gene cart, it doesn't appear unless I do a Crtl-Shift-R

[2021-12-08 17:41] adkinsrs commented on #132
@beamilon was this on umgear.org or devel.umgear.org?

[2021-12-08 17:43] #110 closed

[2021-12-08 17:45] adkinsrs opened #133 "Multigene Curator - Add ability to pick and choose cluster bars to show for heatmaps"
There may be situations where the user has so many AnnData observation metadata columns that either the cluster bars generated for the heatmap, or the legend (or both) will look bad, particularly in the gene results display panel.  Add a series of checkboxes to let the user choose which cluster bars to show.

[2021-12-08 17:58] songeric1107 opened #134 "google doc related to trouble-shooting of uploading errors"
https://docs.google.com/document/d/1gG7Eg4PdhEpQDN4C5nx6fJ4DjmzRh0Ucyo5xUYsL3Vw/edit?usp=sharing

[2021-12-09 15:19] adkinsrs commented on #133
Committed

[2021-12-09 15:19] #133 closed

[2021-12-09 15:23] adkinsrs commented on #131
@songeric1107 I clicked the link, and the 2 tSNE graphs look fine (without the grid in the background).  Furthermore I do not see this "induced" dataset in this profile that you linked.

[2021-12-09 16:05] adkinsrs commented on #118
Extending this to observation count warnings too.  Recently encountered a heatmap issue where the dendrogram creation failed due to exceeding the max recursion depth.  This was because of the high number of observations.

[2021-12-09 17:27] adkinsrs commented on #118
Committed.

Right now a warning goes up if more than 10 genes are added.  An "observation warning goes up if the user attempts to cluster heatmaps with more than 1000 observations.  I have had success with 1000 but I was not sure where the lower bounds was for the recursion depth failure.

[2021-12-09 17:27] #118 closed

[2021-12-09 20:07] adkinsrs commented on #112
Pushed a commit to resolve this.  By using `adata.var.index.name` I can grab the gene index name no matter what it's called.

[2021-12-09 20:07] #112 closed

[2021-12-10 19:54] adkinsrs opened #136 "Dataset explorer - 500 undefined error"
I encountered an error in the GCID portal Dataset explorer page as the "gEAR curator" user.

Steps to reproduce
1. Go to the dataset explorer page
2. Search term was blank
3. Under the "ownership" filter, click "Shared with you" which triggers the "alert-danger" label with the 500 undefined error.
4. Clicking other "ownership" filters with or without "Shared with you" selected does not bring this

[2021-12-10 19:56] adkinsrs commented on #136
Can confirm similar behavior on the production gEAR portal where I was user "Shaun Adkins"

[2021-12-13 14:46] jorvis opened #137 "Contact submission form not working?"
User e-mailed me directly with an issue after trying to submit.  Need to check if this is broken.

[2021-12-13 14:47] jorvis opened #138 "UMAP not generating for certain dataset with a particular gene"
From the user:

[2021-12-13 20:55] adkinsrs commented on #96
I have a commit in place for this.  Will push to gear-devel soon

[2021-12-14 05:03] jorvis commented on #121
In commit ce80cbd I've added this additional image.

![Screenshot from 2021-12-13 23-00-29](https://user-images.githubusercontent.com/330899/145936226-6773a743-c650-4d47-a981-9cb9ec3d4533.png)

[2021-12-14 05:03] #121 closed

[2021-12-14 05:38] jorvis commented on #137
Failure confirmed when I attempted to add a screenshot  Required directory contact_screenshots/files was missing.

Added in commit 0484655

[2021-12-14 05:50] gear-portal-team opened #139 "Test"
**From:** Joshua Orvis

**Email:** jorvis@gmail.com

**Server IP:** 10.142.0.16

**Msg:** Test

**Tags:** ['']

**Screenshot:** https://umgear.org/contact_screenshots/12b5c9a5-5a70-4ba9-aee9-731e0c665e9c.jpg

[2021-12-14 05:52] jorvis commented on #139
Test completed for issue #137

[2021-12-14 05:52] #139 closed

[2021-12-14 05:53] jorvis commented on #137
Completed and working once permission were set properly on the files directory.

[2021-12-14 05:53] #137 closed

[2021-12-14 16:04] adkinsrs commented on #132
I encountered a similar thing when the user went from logged out to logged in on that page.  The gene cart tree did not update and after refreshing it did load.  That situational tree reload is still an issue I need to resolve for this page and the compare tool

[2021-12-14 18:38] adkinsrs commented on #113
The way I am addressing this so far is to provide primary and secondary category split-by options.  These will do different things depending on the plot made

Heatmap:
* Primary & secondary - primary and secondary sorting if observations are along the axis
* For matrix plots - datapoints will be grouped by the primary and secondary options, and the axis will be multicategorical

Dotplot:
* Datapoi

[2021-12-14 20:28] adkinsrs commented on #80
Merged branch "issue_80" into "new_mg_plots" for easier testing of both the multigene curator and the compare tool on the development server

[2021-12-14 20:37] adkinsrs commented on #96
Pushed to gear-devel

[2021-12-14 20:54] jorvis commented on #123
Looks like @adkinsrs already did this:

https://github.com/IGS/gEAR/blob/a9f8e2f29feae29054b1a80a213f1e0468469a7a/www/js/compare_datasets.js#L705

[2021-12-14 20:54] #123 closed

[2021-12-15 00:57] songeric1107 opened #140 "change a profile from Heller's lab to public"
could you please change this profile which belongs to Heller's lab to a public profile?

https://umgear.org/p?l=bca63f4b

[2021-12-15 01:26] songeric1107 commented on #140
scRNA-seq - Chicken utricle (Heller 2021) | 7c1223a3-01d3-8903-762f-d2c415785f9b | Molecular anatomy of the chicken utricle(P7)-Trajectory Extrastriola, States
-- | -- | --
scRNA-seq - Chicken utricle (Heller 2021) | 622b9c7a-9089-20bc-6d5f-2a0c7b3ee91f | Molecular anatomy of the chicken utricle (P7) - Trajectory Striola I,States
scRNA-seq - Chicken utricle (Heller 2021) | f86ed44a-e1d0-daac-5edf-

[2021-12-15 14:49] adkinsrs opened #141 "Multigene curator - Ensure all plots have meaningful axis labels"
Some plot types are missing axis labels. It is probable the data can be inferred but not guaranteed, so we should add them.  Also give the user the option to specify axis labels too

[2021-12-15 15:45] jorvis commented on #140
OK, so confirming that we want to make it public and change the content of the profile but keep the share ID the same as it was previously (https://umgear.org/p?l=3522046d)

[2021-12-15 15:49] songeric1107 commented on #140
yes. should we also confirm with ronna?

[2022-01-03 19:33] jorvis opened #142 "Gene cart exporting to DAVID"
Requested by Carlo:

https://david.ncifcrf.gov/

[2022-01-04 16:08] JPReceveur opened #143 "Multigene curator minor display edits"
- "Specific" typo Step 4 header
- Make period use match throughout heatmap option (dotplot, violin, and quadrant plots ok)
    e.g. Hierarchical clustering of observation samples. has a period while other options do not

- Move descriptions up so they are directly under each header rather than after options (e.g. 'Step 4: Groups to include' move 'Select which groups for a category...' directly und

[2022-01-04 16:17] adkinsrs commented on #143
I have already taken care of 1) locally.

2) Will take a lookover for consistency in periods.  I did a recent lookover for capitalization (first word vs all major words in similar grouping headers)... did this look consistent to you?

3) I had the helper text at the bottom of the input because of various UI/UX examples having it there. Your example does make a lot of sense (especially with longer

[2022-01-04 16:34] JPReceveur opened #144 "Ability to reorder genes in multigene curator"
In the multigene curator, it would be helpful if there was an ability to sort genes similar to the sorting option used for primary and secondary categories. Currently, how the order of genes are displayed differs between plot type. In the example below, genes in the heatmap are displayed in order of being added but genes in violin plots are alphabetical.

<img width="644" alt="Screen Shot 2022-01-

[2022-01-04 16:57] JPReceveur opened #145 "Multigene create plot does not update or give error messages for certain dataset"
While testing, I tried using the dataset: Crista Ampullaris, Epithelial, Cell type (Bermingham-McDonogh) and ran into some issues.

By default, none of the categories in orig.ident are included and the create plot button does not return anything (no error/warning message appears, tested with violin and heatmap, genes: Atraid and Thoc1). Clicking 'all' on the orig.ident category does not add the gr

[2022-01-04 17:06] JPReceveur commented on #143
@adkinsrs just took another look and capitalization looks good

[2022-01-04 22:03] adkinsrs commented on #122
What I've learned is that a) HTM5 supports all characters in the "id" attributes and b) jQuery has `$.escapeSelector("thing")` which will escape characters that can be used to make these IDs safe for jQuery selection. This is how I plan to fix these issues... sanitize the column and group names that were used as or in HTML ID attributes before selecting on them with jQuery

[2022-01-05 14:06] adkinsrs commented on #145
@JPReceveur can you test this functionality again on the devel server (devel.umgear.org)

[2022-01-05 14:20] JPReceveur commented on #145
@adkinsrs Just tested on the dataset above and another with a similar category name and its working fine

[2022-01-05 14:51] adkinsrs commented on #122
Deployed a fix on gear-devel, which @JPReceveur confirmed works for the multigene curator page.  A similar thing has been done for the compare tool.

[2022-01-05 14:51] #122 closed

[2022-01-05 15:43] adkinsrs commented on #143
Pushed out a commit for point 2 and point 3. Code is deployed on gear-devel

[2022-01-05 16:17] JPReceveur commented on #143
Tested and all points are resolved, closing.

[2022-01-05 16:17] #143 closed

[2022-01-05 17:24] songeric1107 opened #146 "instruction on how to prepare files for uploading"
RNAseq
https://docs.google.com/document/d/1uA9GPiIEx3PdIsAMZe3EL6LrInSRYGty/edit?usp=sharing&ouid=117747532410487585752&rtpof=true&sd=true

scRNAseq
https://docs.google.com/document/d/1GvaHOP6qrmSAJWXuEfmJjrRaXK8yZ-zR/edit?usp=sharing&ouid=117747532410487585752&rtpof=true&sd=true

[2022-01-05 17:35] RLC-DCPPC commented on #82
@jorvis this needs to be done by 1/26

[2022-01-05 21:48] adkinsrs opened #147 "GCID portal - reload datasets using older gene symbols"

[2022-01-05 21:49] adkinsrs commented on #147
I have given @songeric1107 the mapping file information to reload these datasets with the correct gene symbols based on the old paper

[2022-01-06 19:25] #147 closed

[2022-01-07 02:04] songeric1107 opened #148 "changes of GCID portal"
- [x]  replace the dataset that links to http://gcid.igs.umaryland.edu/pub/wb-RNA-life with https://gcid.umgear.org/p?s=2160d42b.

- [x] replace the dataset that links to http://gcid.igs.umaryland.edu/pub/bm-RNA-life with https://gcid.umgear.org/p?s=73bee4b5.

- [x] remove "Multi-species transcriptomics data set of Brugia malayi across its entire lifecycle - Aedes aegypti - z score of log2(TPM)-mu

[2022-01-07 02:11] songeric1107 opened #149 "Displaying bugs(reported by Ronna)"
1. can not close the floating window after viewing "info"
![Screen Shot 2022-01-06 at 9 08 34 PM](https://user-images.githubusercontent.com/6730079/148479897-ffa769db-eeb5-4981-95f8-3368e23f25db.png)
2. Profile showed duplicate gene symbols on the left panel and duplicate display panels

[2022-01-07 02:15] adkinsrs commented on #149
This is a well-known, long-standing issue for @jorvis and I. The crux of this is a combination of race conditions firing, and multiple entrypoints into the functions that set the layout profile and load the display panels. I have been working this afternoon in an attempt to reorganize some of the code that generates the panels, and I hope I can have something working by tomorrow.

This may also be

[2022-01-07 02:20] songeric1107 opened #150 "suggestions about comparison tool on devel (from Ronna)"
**1. The comparison tool does show the dataset title.**

![Screen Shot 2022-01-06 at 9 13 40 PM](https://user-images.githubusercontent.com/6730079/148480343-5ff76654-c71c-486b-b99a-ef56e7639d7d.png)

**2.  the selection should be displayed under the box after selecting X condition /Y condition**
![Screen Shot 2022-01-06 at 9 15 44 PM](https://user-images.githubusercontent.com/6730079/148480513-046

[2022-01-07 02:29] adkinsrs commented on #150
I have some thoughts on the three of these suggestions.

1. Was the comparison tool loaded from a dataset panel (does the URL have a dataset_id)? If so, then yes, I need to pre-select the dataset title in the dataset tree.  Otherwise the dataset title is already shown after the dataset is selected.

2. I personally feel this can make the side-panel look very busy, but I'll do it.  I drew inspirati

[2022-01-07 02:32] songeric1107 commented on #150
about 1.  Yes, it is loaded from a dataset panel.
![Screen Shot 2022-01-06 at 9 13 29 PM](https://user-images.githubusercontent.com/6730079/148481957-5c868786-9ead-4eeb-80dd-5767af748fed.png)
![Screen Shot 2022-01-06 at 9 13 40 PM](https://user-images.githubusercontent.com/6730079/148481962-356e3bea-e1d7-41df-8e29-d9f4b5bf5199.png)

[2022-01-07 13:23] adkinsrs commented on #148
- [ ] replace the dataset that links to http://gcid.igs.umaryland.edu/pub/wb-RNA-life with https://gcid.umgear.org/p?s=2160d42b.

- [ ] replace the dataset that links to http://gcid.igs.umaryland.edu/pub/bm-RNA-life with https://gcid.umgear.org/p?s=73bee4b5.

- [ ] remove "Multi-species transcriptomics data set of Brugia malayi across its entire lifecycle - Aedes aegypti - z score of log2(TPM)-mul

[2022-01-07 14:13] adkinsrs commented on #148
Updated the GCID publication links on the internal GCID repository and used the webdeploy tool to update the production version of the site.  However it appears the updated publication URLs do not redirect to the new links yet.  Can @victor73 give an explanation perhaps?

[2022-01-07 14:14] songeric1107 opened #151 "add the function to select the entire row by clicking the row index (Primary analysis)"
could we add the function to be able to select the entire row by just clicking the row index ? it will be so useful for the datasets with a lot of cell types under different conditions.

https://umgear.org/analyze_dataset.html?dataset_id=80eadbe6-49ac-8eaf-f2fb-e07706cf117b

![Screen Shot 2022-01-07 at 9 11 46 AM](https://user-images.githubusercontent.com/6730079/148555944-c915a01c-4541-453c-ad9a-

[2022-01-07 14:52] adkinsrs commented on #148
@songeric1107 I made all the edits.  Please confirm if these are acceptable.

[2022-01-07 21:36] adkinsrs commented on #150
I have implemented each of the three bullet points.  For point 3, I make the default condition label using the JSON Stringify function, but do not that if the user selects multiple groups or categories for their condition selection, then the label can look a little verbose.

@songeric1107 and/or @JPReceveur please test on gear-devel

[2022-01-07 21:41] adkinsrs commented on #149
I believe I have resolved this.

@songeric1107 and @JPReceveur , please search for a few genes (single-gene and multi-gene view) from the main page on the gear-devel server.  In addition, look into a) toggling the "multigene toggle" on the gene display panel page and click Search, b) switch profiles, and c) do a refresh of the gene display panel page (either Ctrl-R or the Refresh button on the bro

[2022-01-10 13:12] JPReceveur commented on #149
@adkinsrs Tested as described above in both single and multigene view and bug did not appear. Did not have any issue closing info or display pop-up windows.

[2022-01-10 15:20] songeric1107 commented on #149
@adkinsrs I tested on devel , I could not duplicate the problems as reported by Ronna

[2022-01-10 15:21] adkinsrs commented on #149
Excellent!  I am closing this ticket for now.  If anyone see these issues, feel free to re-open the ticket.

[2022-01-10 15:21] #149 closed

[2022-01-10 16:19] adkinsrs commented on #151
Added this.  Feel free to test @songeric1107 and @JPReceveur in the analysis workbench -> Find Marker Genes step.

[2022-01-10 16:40] #148 closed

[2022-01-10 16:45] adkinsrs opened #152 "Update analysis workbench to use the "dataset" hierarchical tree"
The dataset selection process is still using a select dropdown instead of the tree structure like the other pages.

[2022-01-10 16:48] adkinsrs commented on #80
Closing this ticket for now since the issue seems to be resolved, and #150 is addressing other minor issues related to this

[2022-01-10 16:48] #80 closed

[2022-01-10 17:38] adkinsrs commented on #152
Committed and pushed to gear-devel.

[2022-01-10 17:38] #152 closed

[2022-01-10 19:02] adkinsrs commented on #151
Thanks for the heads up.  I'll investigate further

[2022-01-10 20:00] adkinsrs commented on #151
@JPReceveur believe I have resolved the issue (unnecessary brackets somewhere in the code).  Care to test again?

[2022-01-10 20:23] JPReceveur commented on #151
@adkinsrs Issue with the error message is resolved. When clicking around, I noticed that if you click on the column numbers 0,1,2,3 etc, it adds to the gene counter, causing the number of highlighted genes to be off by one.
<img width="493" alt="Screen Shot 2022-01-10 at 3 11 53 PM" src="https://user-images.githubusercontent.com/28451557/148833086-5405ee41-ae35-47be-abfa-8ff86d2bffdd.png">

And th

[2022-01-10 20:25] adkinsrs commented on #151
I've noticed in some cases that it counts "" as a gene.  No clue why but my next step will be to filter that out after every click.

[2022-01-10 20:28] songeric1107 commented on #151
@adkinsrs I still got the same error
![Screen Shot 2022-01-10 at 3 28 30 PM](https://user-images.githubusercontent.com/6730079/148834664-9361e32f-e6d4-49ce-ab95-0fb516b6200f.png)
.

[2022-01-10 20:30] adkinsrs commented on #151
@songeric1107 is this from a fresh analysis or a saved one?  So far I have only been testing with new analyses.

[2022-01-10 20:32] songeric1107 commented on #151
it is a processed dataset with umap coordinate already, Josh add the primary analysis component to the dataset and I run "Find marker genes" step.

[2022-01-11 14:28] adkinsrs commented on #151
@songeric1107 what dataset specifically were you using? I am wondering if you are actually running into a dataset-specific error.

I tested with "Single-cell RNA-Seq of cisplatin-treated adult stria vascularis identifies cell type-specific regulatory networks and novel therapeutic gene targets(Dr.Michael Hoa)" in the curator-only datasets, and used the Primary Analysis and was able to get the mark

[2022-01-11 14:38] songeric1107 commented on #151
I am using this one. https://devel.umgear.org/dataset_curator.html#/dataset/943c3b03-fb83-c69a-3cfa-d8a6b98c02fd/displays

[2022-01-11 14:42] adkinsrs commented on #151
@songeric1107 I checked the error logs, and the error I see for that dataset is that the louvain analysis results are not present.  I would recommend rerunning this analysis.

@JPReceveur if you think the testing looks good, I will close the ticket.

[2022-01-11 14:59] JPReceveur commented on #151
@adkinsrs Just gave it a final look, testing looks good and no other bugs noticed.

[2022-01-11 14:59] #151 closed

[2022-01-11 19:04] adkinsrs opened #153 "Update multigene curator Google slides"
I need to update the slides for the manual since I updated the page layout in late 2021.  Will probably work on this fairly close to ARO time to ensure the most recent updates are reflected.

[2022-01-11 19:06] adkinsrs commented on #14
Closing this ticket since the related tickets are closed

[2022-01-11 19:13] songeric1107 commented on #14
So is it possible to give the user option to combine 2 column names together as the new  "louvain" group

[2022-01-11 19:22] adkinsrs opened #154 "Fix false logged out display on dataset curator page"
Moving https://github.com/jorvis/gEAR/issues/827 to here

[2022-01-11 19:54] adkinsrs opened #155 "Dataset Curator - Add midpoint and non-expressed SVG options"
Currently the SVG editor in the Dataset Curator utility only lets the user set the low and high color values.  It would be useful to have a mid-point option since users may want a diverging color to serve as the midpoint instead of the default halfway mark b/t the low and high colors. It may also be good to let the user provide a color for non-expressed areas (currently white) as well so that help

[2022-01-11 20:11] adkinsrs opened #156 "Update "get_user_gene_carts.cgi" to support public gene carts"
Currently it seems this script only handles private gene carts (where a user_id is passed in). I can update the index and multigene curator JS pages to handle public gene carts, but the CGI script will need to output them as well.

[2022-01-11 20:30] adkinsrs commented on #156
Did brief work on this 981bb40
 for the "new_mg_plots" branch.

[2022-01-12 14:49] adkinsrs commented on #155
Pushed a commit to the "issue_155" branch to implement mid_color configuration to SVGs in the dataset curator.  This works and also shows in the gene display panels, but on the dataset curator "dataset displays" view, the low color is being shown as the mid color for the image thumbnail

[2022-01-12 15:43] adkinsrs commented on #155
Resolved the issue where the mid-point color was not being reflected in the "dataset displays" view.  Closing ticket... will not work on non-expressed SVG paths for the time being.

[2022-01-12 15:43] #155 closed

[2022-01-12 17:49] RLC-DCPPC opened #158 "Add user groups and support for admin users"

[2022-01-12 17:51] RLC-DCPPC opened #159 "ARO workshop"

[2022-01-12 19:01] jorvis opened #160 "Split gene cart lists into user-owned, public, domain and shared."
Gene cart sharing means we need to support the same categories of carts so they can be better organized in selector UI elements.

[2022-01-12 19:01] jorvis commented on #160
Created the branch gene_cart_types for this work

[2022-01-12 19:08] jorvis commented on #160
This is also related to #156

[2022-01-12 20:01] adkinsrs commented on #127
Addressed with commit b629da2

[2022-01-12 20:01] adkinsrs commented on #154
Addressed with commit b629da2

[2022-01-12 21:34] adkinsrs commented on #154
I know @songeric1107 has observed this, so can you and @JPReceveur test this.

Go to the dataset curator on gear-devel using any dataset from the gene search results (click the dropdown, then Curate).  In the past, if you navigated to that URL from another tab or window, the login section of the page would show that you are not logged in when you really were.  You should not see a log-in section u

[2022-01-13 13:30] adkinsrs commented on #131
closing this ticket... feel free to reopen if this is still an issue

[2022-01-13 13:30] #131 closed

[2022-01-13 16:53] adkinsrs opened #161 "Multigene curator - Adjust volcano plot when non-expressed data is in play"
For a lot of datasets, the volcano plot looks very thin with some extreme outliers as shown below:

<img width="1431" alt="Screen Shot 2022-01-13 at 11 47 08 AM" src="https://user-images.githubusercontent.com/5665914/149372864-7f0c6a9d-8cbc-4081-8def-3b1bfcb23057.png">

When you zoom into a respectable logfoldchange range, the actual plot starts to become more apparent:

<img width="1438" alt="Scr

[2022-01-13 20:32] adkinsrs commented on #161
<img width="1430" alt="Screen Shot 2022-01-13 at 3 31 03 PM" src="https://user-images.githubusercontent.com/5665914/149404657-36b4e391-a33e-4089-a212-802af702bb49.png">

Added +1 counts to all raw values, and if the original data was non-expressed, then the log-mean would then still end up being 0. I worked on these adjustments for all plots.

[2022-01-13 20:34] adkinsrs commented on #161
@songeric1107 @JPReceveur

Can you create a volcano or quadrant plot in the multigene curator on gear-devel and ensure it does not look like the first picture. Ideally the first picture (3 vertical lines) occurs when there are genes that are completely not expressed in one group or the other group. @songeric1107 may know of a good representative dataset.

[2022-01-14 13:58] songeric1107 opened #162 "enlarge the icon of funding resources (from Ronna)"
Josh

could you please make the 3rd icon (hearing health) larger to match the same size as other icons?
![Screen Shot 2022-01-14 at 8 55 54 AM](https://user-images.githubusercontent.com/6730079/149526839-4f216ab7-6ebb-489b-b00d-ee153d3cb350.png)

[2022-01-14 14:16] RLC-DCPPC opened #163 "planning meetings"
next  - Joe on testing outcomes
after that - Brian

[2022-01-14 14:21] RLC-DCPPC commented on #159
Now virtual.

workshop on the 11th? basic 11-12:30 advanced from 2:00 - 3:30, perhaps

[2022-01-14 14:24] adkinsrs opened #164 "Switch CSS of various pages to use stored color variables."
Some pages, like the dataset_curator and the multigene_curator have the gEAR "purple" color scheme hardcoded into their CSS. In order to not have other gEAR portal reskins look off with random "purple" elements, we should ensure the important hardcoded CSS colors are switched over to using existing or newly created CSS variables.

[2022-01-14 16:19] adkinsrs commented on #153
Finished updating the images.

[2022-01-14 17:37] jorvis commented on #160
![Screenshot from 2022-01-14 11-34-51](https://user-images.githubusercontent.com/330899/149560143-81aaa3f0-64f7-494a-88fc-f50379759843.png)

[2022-01-14 19:03] jorvis commented on #82
Other sources:

- https://www.alliancegenome.org/downloads#orthology
- https://www.ncbi.nlm.nih.gov/homologene/?term=ATOH1 (rapid first solution)

[2022-01-14 19:06] adkinsrs commented on #163
My two cents.  I feel tickets of this type should be moved to the "Discussions" tab since they don't really highlight any issue or tasks related to the codebase itself.  Thoughts?

[2022-01-14 19:17] jorvis commented on #163
Agreed.

[2022-01-14 19:22] adkinsrs commented on #163
Same with #158 and #159

[2022-01-14 20:49] JPReceveur commented on #150
1. Works as expected, no issues found
2. Agree that it makes the side panel busier but works as expected
3. Works as expected

If you try to break the columns by picking nonsense X and Y conditions you end up with something link this, which will probably be a somewhat common error if people are just playing around with groups.
<img width="1128" alt="Screen Shot 2022-01-14 at 3 32 53 PM" src="https

[2022-01-14 20:55] adkinsrs commented on #150
Had a chat with Ronna, @songeric1107 , and @jorvis .  I am going to do the following:

* Remove the "Selected conditions" section as the "axis labels" inputs should be able to pull double-duty to show what has been selected
* Auto-populated axis label inputs will not show the condition... only group1;group2;group3 etc.
* Instructions that are initially shown on page load, will be added in a popove

[2022-01-14 21:04] JPReceveur commented on #161
Tested volcano and quadrant plots for a couple random datasets, all plots looked normal. Know of any specific datasets that would be good to test?

[2022-01-14 21:08] adkinsrs commented on #161
The test dataset I used was "P7-adult, mouse, RNA-seq, medial geniculate and primary auditory cortex (A1) (Hackett)" where a gene such as Mup5 was present in the A1 group by was not expressed in MG.  But this sort of show bias by pointing you to something I was using to address the issue.  I feel @songeric1107 or Kevin would know some datasets with similar things.

[2022-01-18 14:51] adkinsrs commented on #150
committed  337041a which resolves the 5 issues from the previous comment.

@songeric1107 and @JPReceveur, can you check gear-devel and give further suggestions?

[2022-01-18 17:24] adkinsrs commented on #141
Added some axis titles to all plots but heatmaps.

[2022-01-18 17:24] #141 closed

[2022-01-18 17:33] adkinsrs commented on #150
3 is interesting as it shows for me locally.  I'll look into the difference.

For 5, I've noticed it there too, but have always just let it be... I figured it was extra information for the user.

[2022-01-18 17:40] JPReceveur commented on #150
Tried it after refreshing page. If I open the help from a refreshed page (before clicking plot) I can see both the instructions and plot controls. But if I open the help after making the plot, I don't see the instructions

<img width="1047" alt="Screen Shot 2022-01-18 at 12 37 18 PM" src="https://user-images.githubusercontent.com/28451557/149989344-80fadab5-ea2a-4a81-9b1e-280c78e83264.png">

[2022-01-18 17:48] adkinsrs commented on #150
@JPReceveur I made adjustments.  Realized that piece of HTML has a class that is hidden when the plot is created.  Resolved it so it should be good now.

[2022-01-18 17:51] JPReceveur commented on #150
@adkinsrs Popup works for me and all other issues look resolved.

[2022-01-18 17:52] adkinsrs commented on #150
Cool.  I will probably present on this during Wednesday's standup and if people are good with it, I'll close the ticket.

[2022-01-18 17:52] #150 closed

[2022-01-18 17:53] adkinsrs commented on #163
I think I will talk briefly on improvements on #150 for the standup on 1/19

[2022-01-18 19:11] jorvis commented on #162
They are all the same size now (on next server update):

![Screenshot from 2022-01-18 13-11-35](https://user-images.githubusercontent.com/330899/150003060-b7120de1-2859-4d7a-b698-338cfef3a78a.png)

[2022-01-18 19:11] #162 closed

[2022-01-18 19:14] JPReceveur commented on #154
Tested on devel, observed same issue. Issue changes name to 'user' and login box reappears.

Login status on gene search page:
<img width="1538" alt="Screen Shot 2022-01-18 at 2 08 59 PM" src="https://user-images.githubusercontent.com/28451557/150002885-c0e3ced9-eb09-4db8-a4a9-7d5e93b92789.png">

After clicking on curate:
<img width="1792" alt="Screen Shot 2022-01-18 at 2 08 21 PM" src="https://us

[2022-01-18 19:28] adkinsrs commented on #154
Would a refresh on the dataset curator page result in the same thing?  I'm having a gut feeling some stuff is cached in the browser for a few of these tasks.

[2022-01-18 19:33] adkinsrs commented on #154
I did find two separate issues though, that I'll tack onto this ticket

- [ ] Logging out from within the dataset curator page navigates you to https://devel.umgear.org/dataset_curator.html#/ whether you had a dataset display passed in the URL query parameters or not.  It does not log you out however
- [ ] While logged out, navigating to https://devel.umgear.org/dataset_curator.html and logging in

[2022-01-19 14:46] adkinsrs commented on #154
Resolved those two above issues.  Having the navigation bar elements within the Vue app breaks some jQuery event handler declarations since Vue does some injection stuff for it's "app".

[2022-01-19 15:37] jorvis commented on #82
HomoloGene links are now added and can be seen on devel.

[2022-01-19 15:50] adkinsrs commented on #144
I think they should all be alphabetical by default, unless in situations where the user selects to cluster the genes in heatmaps.  That is an easy adjustment.  However, I don't think implementing the same vertical "sort order" element in the gene selection step would look very good considering the number of potential genes.

So I think I will work to ensure heatmaps, dotplots, and violins all use

[2022-01-19 15:54] JPReceveur commented on #144
That makes sense and sounds good to me.

[2022-01-19 17:35] songeric1107 commented on #146
Here is the github page link.

https://github.com/songeric1107/Host_data_on_gEAR/blob/main/prepare_scRNAdataset_uploading_gEAR.md

[2022-01-19 17:45] adkinsrs commented on #161
Closing for now.  If there are still issues, feel free to reopen

[2022-01-19 17:45] #161 closed

[2022-01-19 17:54] jorvis opened #169 "Apache option for supporting shorter permalinks?"
Users keep requesting URLs for papers like:

umgear.org/whatever

The few we support right now we've actually made those redirector links manually, which isn't sustainable.  Instead look into an apache config which will catch these and read from a proper registry list or the DB for the link instead.

[2022-01-19 20:03] JPReceveur commented on #154
Just reset cache and tried this again. Still same outcome. Also opening the single cell workbench resulted in the false logout showing up.
<img width="1448" alt="Screen Shot 2022-01-19 at 3 00 30 PM" src="https://user-images.githubusercontent.com/28451557/150205180-e9c621dc-0922-41b9-a91a-fa0957dfbc10.png">

<img width="1485" alt="Screen Shot 2022-01-19 at 3 00 57 PM" src="https://user-images.gith

[2022-01-20 16:32] jorvis commented on #158
SQL which will need to be run for any existing instances:

[code]

[2022-01-20 16:32] Kvnrose commented on #161
Testing:

Volcano plots are working as intended all datasets I have tested.

![image](https://user-images.githubusercontent.com/46610614/150380494-725251af-14e8-4356-b398-b4257ca8e55e.png)

I have two suggestions:

1) I would like to be able to test 1 condition against all other conditions. For example, the volcano plot above is Type1 vs Type3.  It would be more informative for me to have Type1 vs

[2022-01-20 16:36] adkinsrs commented on #161
For suggestion 1, are you suggesting a union of the rest of the types, or 3 separate volcano plots for the each type-vs-type comparison?  If it is the latter, this may take a bit more work since Dash.Bio's volcano plot function does not play nice with Plotly's subplotting functions

For suggestion 2, that is easily implementable.  I assume you are going to implement the p-value cutoff in scientifi

[2022-01-20 16:40] adkinsrs commented on #161
Ok.  When I do the task, I'll mark this as closed, and create a new ticket for testing and assign you and a couple others to take a look.

[2022-01-20 17:06] adkinsrs opened #170 "Annotation support for multigene search on gene results page"
Annotation information by organism correctly shows if single-gene search is enabled.  However (and this is partially a lack of foresight on my part), clicking one of the organism icons in a multigene search fails because the FunctionalAnnotationPanel class object only supports single genes.

The way I had gotten around this was by calling `dataset_collection_panel.update_by_all_results` inside of

[2022-01-20 20:41] adkinsrs commented on #144
Complete.  Opening a new ticket for testing purposes

[2022-01-20 20:42] #144 closed

[2022-01-20 20:44] adkinsrs opened #171 "Test sorting of heatmap genes"
References #144

Heatmaps should now sort gene symbols alphabetically unless the "hierarchical clustering of genes" checkbox is clicked.

[2022-01-21 14:22] JPReceveur commented on #171
Tested and works as expected

[2022-01-21 14:23] #171 closed

[2022-01-21 15:15] Kvnrose commented on #154
Navigating from the homepage to the curator does not cause a false logout for me when going to the curator or single cell workbench.

![image](https://user-images.githubusercontent.com/46610614/150551282-642dde88-a345-4bd7-bae3-5db86c70f7e5.png)

![image](https://user-images.githubusercontent.com/46610614/150551350-09b5de17-d75d-496a-95b0-0e77d2f2dc2e.png)

Google Chrome version:
![image](https://

[2022-01-21 15:20] adkinsrs commented on #154
Cool.  I'm going to close this ticket for now.

[2022-01-21 15:20] #154 closed

[2022-01-21 20:08] jorvis opened #173 "Store current profile's share ID in cookie"
Cookie storage for selected profile needs to be a share_id rather than label like it currently is.  It's becoming more likely the user will have more than one profile with the same name within their profile list, and right now the system could be showing them the wrong one just because it has the same name.

[2022-01-21 20:20] adkinsrs opened #174 "Test volcano plot fold-change, p-value threshold options, and "group vs rest" plot option"
Referencing the suggestions at the bottom of #161.  There should be new options for setting the p-value threshold, upper and lower logfoldchange thresholds, and also to plot a group vs the union of the rest of the groups.  Please test to ensure a) they work and b) to ensure the aesthetics and user experience is fine.

[2022-01-21 20:34] Kvnrose commented on #174
I dont see the pvalue / fold change thresholds. I am also getting the following error.

![image](https://user-images.githubusercontent.com/46610614/150596450-57cf69c6-2abd-4c05-a0eb-85e30c391328.png)

[2022-01-21 20:37] adkinsrs commented on #174
@Kvnrose I forgot to restart the apache server, which compiles the latest CGI code /facepalm

Anyways regarding the pvalue/logfc content, can you either clear your browser cache for the devel server, or open the browser in "incognito mode"?

[2022-01-21 20:53] Kvnrose commented on #174
Looks to be working well! Nicely done.

![image](https://user-images.githubusercontent.com/46610614/150598620-95421eb3-10c5-4a59-8b2e-6148841a95ba.png)

[2022-01-24 13:10] adkinsrs opened #175 "Users unclear on steps to move forward on single cell workbench:"
Users unclear on steps to move forward on single cell workbench:

In the single-cell workbench, after users select a dataset and run the first filtering step, they were unclear on that they had to click the next toggle to move on. Perhaps naming the steps in order (1,2,3,etc) or including some text that pops up after they apply filters that they need to click the next toggle would be useful.

<img

[2022-01-24 14:29] adkinsrs commented on #175
I am going to add a "Please click the <step> toggle" message at the bottom of the current step's panel that will trigger to show when the current step is complete.  However I will not add numbers to the steps on the list of toggles on the left, for the reason that loading from existing saved analyses only uses some of the steps and thus would require a renumbering of the steps.

[2022-01-24 21:27] songeric1107 opened #176 "able to adjust the panel size for multi-gene display"
could we adjust the panel width for the multigene display?

[2022-01-24 21:44] adkinsrs commented on #176
Set mg_grid_width = 6 (originally 4 or 1/3 of the panel row).

If displays for certain plot types need to be adjusted, I can adjust them with a plot config file I created.

If individual plot displays need to be adjusted (one or two displays where the majority for that plot type look fine), then we can discuss that later.

[2022-01-25 03:20] songeric1107 opened #177 "multigene display takes longer time for heatmap."
I am able to generate the heatmap, however, it takes forever to display on the front page.

[2022-01-25 03:39] songeric1107 commented on #177
![Screen Shot 2022-01-24 at 10 37 48 PM](https://user-images.githubusercontent.com/6730079/150906648-8895fd32-2959-417e-b953-2f91e715dc67.png)
![Screen Shot 2022-01-24 at 10 38 43 PM](https://user-images.githubusercontent.com/6730079/150906651-57c7e4b3-b01c-43cc-85c2-514c4b2a796e.png)

[2022-01-25 03:47] songeric1107 commented on #177
due to the privacy of the tested dataset, open a new ticket in another area. https://github.com/jorvis/gEAR/issues/1108

[2022-01-25 16:07] adkinsrs commented on #177
Closing this ticket due to it being moved

[2022-01-25 16:07] #177 closed

[2022-01-26 02:04] #82 closed

[2022-01-26 03:15] songeric1107 opened #178 "how to load gene cart on the front page"
how to select the gene cart on the front page of gEAR? especially for multi-gene display

![Screen Shot 2022-01-25 at 10 12 58 PM](https://user-images.githubusercontent.com/6730079/151097968-8c0b4444-c08a-472e-b7d0-040f790262e3.png)

[2022-01-26 03:35] songeric1107 opened #179 "change a profile as a public profile"
https://umgear.org/p?l=9ceebacc

orig name: “Waldhaus Lab”

new name: scRNA/ATAC-seq - P2, mouse cochlea (Waldhaus)

[2022-01-26 03:35] adkinsrs commented on #178
I feel there was a reason that the gene carts aren't loaded pre-search.  @jorvis was this an intentional choice or something we overlooked?

[2022-01-26 14:12] adkinsrs opened #180 "Edit index page display panel dropdown items"
Per Ronna

She feels that the order of the items of the display panel (which currently appears to be patterned on if the item stays on the same page or redirects) should actually be reordered based on purpose (information, analysis, etc.).  In addition, the "Analyze Single-Cell" item should be renamed "scRNA-Seq Analysis".  Lastly, some buttons could be cloned or moved from the dropdown menu to a

[2022-01-26 14:39] jorvis commented on #179
This is done

[2022-01-26 15:14] jorvis commented on #178
I can't recall any specific reason it isn't on the front page other than a general worry of cluttering that initial search widget too much.  It doesn't flow well though at all, of course, if you're an advanced user and know you want to start with a cart.

I'm up for any elegant suggestions.

[2022-01-26 15:49] jorvis commented on #158
This branch has been merged, tested, and approved by Ronna.

[2022-01-26 15:49] #158 closed

[2022-01-26 19:04] jorvis opened #182 "Users need to be able to change labels for their own layouts"
Currently the UI doesn't allow for this.

[2022-01-26 19:24] jorvis commented on #179
Sorry, I didn't pay attention to the title here and only did the name change as the main comment.

[2022-01-26 19:35] jorvis commented on #179
Done now.

[2022-01-26 19:35] #179 closed

[2022-01-27 18:27] adkinsrs opened #183 "Hitting enter in a JSTree object acts like a form submit"
I observed this from acting too fast.  If you hit Enter in the search box for a JSTree object, it redirects back to that page.  This is because most of the JSTree containers used around gEAR are form elements.  So I need to rewrite some stuff to prevent this.

[2022-01-27 18:33] adkinsrs opened #184 "Benchmark the heatmap plot"
I have gotten a sense from other users that the heatmap is the slowest plot to generate for various datasets.  As such, I should benchmark various parts of the heatmap process (dataframe prep, the clustergram function from dash.bio, and post-clustergram adjustments) and see where the bottleneck is.

[2022-01-27 18:54] adkinsrs commented on #175
I'm testing this but ran into a bit of a roadblock.  Back in December, I had to update my Docker image due to various python packages that I was using being changed in their backversions, which broke some things. I got everything working except for the "louvain" package which is used by scanpy, so I skipped it in order to fix it later.  Well "later" is now, since the louvain steps are in the analy

[2022-01-28 19:25] adkinsrs opened #185 "Analysis Workbench - Should we clear Analysis-class object when rerunning certain steps?"
I was testing a feature addition in the analysis workbench, and I noticed that some analysis steps are modified depending on if there is a property in the Analysis-class object stored in JS.

For instance, for the Marker Gene Visualization step, I noticed that if you run with a certain number of genes (5 for this example), the "marker_genes.n_genes" and "marker_genes.calculated" properties are set

[2022-01-28 20:51] adkinsrs opened #186 "Problem with saving gene cart from multigene page"
https://github.com/jorvis/gEAR/issues/1111#issue-1117800808

From @beamilon

[2022-01-28 20:52] adkinsrs commented on #186
I created a volcano plot from the multigene display and used the lasso tool to select few genes. When I clicked on "save new gene cart", the gene cart window appears but when I try to save it, a message "issue with saving gene cart" appears. I pasted a picture below.

[2022-01-28 20:55] jorvis commented on #186
From the list of genes there is it possible the string being passed contains new lines?  I just pushed a fix for this earlier today

[2022-01-28 23:21] jorvis commented on #185
So we want to prevent the situation where we're saving copies of the h5 file after every step.  We should allow users to go back to some, but some of the steps modify the data in a way what isn't reversible without starting over from the original file.  As long as we keep the UI in sync with this limitation this is a fine thing to do.

[2022-01-31 13:37] adkinsrs commented on #185
Looking at some of this code more intensely and it seems that some of my concerns are already addressed (particularly the "New" analysis selection). I will close this ticket and have a look-over to ensure that user changes in the same step are running correctly and updating the analysis object correctly.

[2022-01-31 13:37] #185 closed

[2022-01-31 15:06] beamilon opened #187 "Problem with refresh"
I am trying to create displays for the multigene in Hearing (default). After creating a display, if I refresh, I sometime get a red banner on top "Fail. Sorry, something went wrong: Error loading layouts. Please contact us with this message for help." and datasets different than the ones supposed to be in this profile appear.
And the dropdown menu for the profiles shows 0 in the folders
![image](h

[2022-01-31 17:30] adkinsrs commented on #187
@beamilon

Did you get this error by searching from the front page, or through a permalink? I cannot seem to replicate this with a search from the front page under the gEAR "curator" user.

[2022-01-31 17:38] adkinsrs commented on #187
actually I just got the error by refreshing my page (which you said in your post that I accidentally glossed over).

[2022-01-31 17:45] adkinsrs commented on #187
Here is the error I see

[code]

@jorvis besides the semicolon at the end of line 65, I'm guessing that this should be a try/except block if the user does not have any "shared_layouts", right?

[2022-01-31 18:30] jorvis commented on #187
Fixed in commit d194c80.  Updating production momentarily

[2022-01-31 18:30] #187 closed

[2022-01-31 19:07] adkinsrs commented on #186
@beamilon, since Joshua recently updated production, can you confirm if this works now?

[2022-01-31 19:16] adkinsrs commented on #175
I have gone ahead and added some prompts to click the next toggle after each step completes.  When Joshua updates the production codebase, these should be available

[2022-01-31 19:27] beamilon commented on #186
@adkinsrs, I still get the error message

[2022-02-01 13:32] adkinsrs opened #188 "Counts of highly-variable genes is randomly incorrect"
From @JPReceveur

 Just went through and the extra prompts look good.

Random observation: when choosing 500 top genes, the number at the top shows 499 (dataset = 5dpf zebrafish, Piotrowski)

 <img width="670" alt="Screen Shot 2022-01-31 at 2 55 07 PM" src="https://user-images.githubusercontent.com/28451557/151864937-bce36011-c90b-4993-bd94-61405ee5fbd2.png">

_Originally posted by @JPReceveur in

[2022-02-01 14:10] adkinsrs commented on #183
Addressed in 7e36f94

Converted "form" elements to "divs" within the tree containers, which would eliminate the "form submit" functionality when you hit Enter

[2022-02-01 14:10] #183 closed

[2022-02-01 14:24] adkinsrs commented on #175
@JPReceveur said these looked fine in the discussion comments (#168) so I am going to close this ticket

[2022-02-01 14:24] #175 closed

[2022-02-01 16:24] adkinsrs commented on #113
Closing for now and will create a new ticket to add facets to quadrant and volcano plots.

[2022-02-01 16:24] #113 closed

[2022-02-01 16:26] adkinsrs opened #189 "Add options for faceted volcano and quadrant plots"
This is an extension of #113.

Ideally we would create multiple volcano or quadrant plots split under certain conditions.  Since the volcano plot is created by Dash.bio making it into a series of subplots may be a bit more difficult than doing this for quadrant plots.

[2022-02-01 16:58] beamilon opened #190 "HeatMap taking very long to load"
The heatmaps from the multigene display don't seem to be loading ("loading..." for more than 5 min now).
Actually, the problem is that heatmaps won't display for only one gene whereas violin and dotplot are ok with it.

[2022-02-01 19:55] adkinsrs commented on #190
I originally had the heatmap work if just a single gene was provided but for those cases, I had to code the heatmap differently instead of using the Dash.bio Clustergram function (which failed if there was 1 or 0 genes).  Since it was a pain to maintain two different sets of heatmap plot types/checks/conditions depending on if a single gene or multiple genes were provided, I dropped single gene su

[2022-02-01 20:05] beamilon commented on #190
@adkinsrs: I was using several genes to create the heatmap. Then going back to the main gEAR, I put sox2 in the search bar to load a profile. Then I turned on the multigene option just to switch the view before adding new genes and I couldn't understand why the heatmaps were stuck in "loading..." Is it possible to change "loading..." to something like "2 or more genes are needed"?

[2022-02-01 20:07] adkinsrs commented on #190
Ah that makes more sense.  I'll work on a fix for the main page.

[2022-02-01 20:09] adkinsrs commented on #190
In fact I need to put an error on any plot that fails to load on that page.

[2022-02-01 20:15] adkinsrs opened #191 "Add error label on plots that fail from the panel display page"
References #190

This includes both the default display and the loaded alternate displays

[2022-02-02 15:28] adkinsrs commented on #190
Closing this in favor of #191

[2022-02-02 15:28] #190 closed

[2022-02-02 16:14] adkinsrs opened #192 "Move "Forget Password" to be more visible."
Tested this out by putting in a wrong password and realized the functionality already exists. Should the forget password option be available by default when signing in and then get hidden after login to keep the page less cluttered? Users might not know to put in a wrong password in order to get the forget password option to come up.

_Originally posted by @JPReceveur in https://github.com/IGS/gEA

[2022-02-02 16:14] adkinsrs commented on #192
<img width="620" alt="Screen Shot 2022-02-02 at 11 13 35 AM" src="https://user-images.githubusercontent.com/5665914/152192680-34623a21-ed60-4e2a-8ba2-807495f1b0c3.png">

[2022-02-02 18:12] adkinsrs commented on #192
<img width="1375" alt="Screen Shot 2022-02-02 at 1 12 21 PM" src="https://user-images.githubusercontent.com/5665914/152212859-e2e20421-26d3-441a-872f-e952d544b0db.png">

@JPReceveur  any thoughts on this?

[2022-02-02 18:26] JPReceveur commented on #192
@adkinsrs The image looks good to me, was going to check it on devel but the site been giving me connection issues today

[2022-02-02 19:59] adkinsrs commented on #192
c7b99ca addresses this.  This should be reflected in the next devel/production server code update

[2022-02-02 20:10] adkinsrs commented on #191
This should be available for testing whenever devel or production servers are updated

[2022-02-02 21:01] jorvis opened #193 "FAIR / TRUST work"
Parent ticket while organizing.

- [x] #418
- [x] #276

- [ ]  #390
- [x] #339
- [ ] #253
- [ ] #391
- [x] #392
- [x] #393
- [x] #394
- [ ] #395
- [x] #396
- [x] #397
- [ ] #398
- [ ] #399
- [ ] #400
- [ ] #435
- [ ] #436
- [ ] #426

Additional tasks
- Add support for searching by ontology terms, including slims for faceted search. Ideal if an expansion box could show flattened children for each t

[2022-02-04 03:55] songeric1107 opened #194 "could not find the gene cart which is created using comparison tool"
a gene cart that is created after using the comparison tool could not find in the gene cart management system.
![Screen Shot 2022-02-03 at 10 50 17 PM](https://user-images.githubusercontent.com/6730079/152469125-90c60614-3d62-4d11-aea8-3ad2bb545d38.png)

![Screen Shot 2022-02-03 at 10 54 00 PM](https://user-images.githubusercontent.com/6730079/152469203-c66c884d-2221-484b-8143-bd04fac56508.png)

[2022-02-04 16:04] songeric1107 opened #195 "comparison tool does not work for 3 factor combination"
https://umgear.org/compare_datasets.html?dataset_id=097ae3e2-014e-39df-7087-691ed5f46ab9

![Screen Shot 2022-02-04 at 11 02 58 AM](https://user-images.githubusercontent.com/6730079/152561727-9fa023bf-1748-4b28-8ca5-36643ae7ee54.png)

![Screen Shot 2022-02-04 at 11 05 34 AM](https://user-images.githubusercontent.com/6730079/152562066-02686e53-4402-431a-9de9-3f9150a88546.png)

[2022-02-04 16:08] adkinsrs commented on #195
Just to confirm, this does work if you do both A1;ADULT;F and A1;ADULT;M, correct?

I would also recommend hitting "Plot" a few times... I have run into the issue where it takes a couple tries to successfully plot, because the server was hitting memory or cpu limits

[2022-02-04 16:11] adkinsrs commented on #195
<img width="1147" alt="Screen Shot 2022-02-04 at 11 10 58 AM" src="https://user-images.githubusercontent.com/5665914/152562953-73f324dc-4553-4fd0-a8bd-a1f762ec6813.png">

[2022-02-04 16:19] adkinsrs commented on #195
I'm going to poke around and find out why it randomly works and does not work

[2022-02-04 17:13] adkinsrs commented on #195
@songeric1107 I see what is happening now.  Sometimes the order of the conditions is not preserved when passed to certain parts of the script, and this is breaking things.  I'll work on a fix and push a commit soon

[2022-02-04 17:36] adkinsrs commented on #195
Pushed out a fix... waiting for @jorvis to update production

[2022-02-04 18:39] adkinsrs commented on #194
I can replicate this locally.  The CGI script runs but does not return the gene card ID in the response as was expected.  The stacktrace error says ` Column 'organism_id' cannot be null`.  So I think that compare_datasets.js needs to be adjusted

[2022-02-04 18:55] adkinsrs commented on #194
Pushed commit to fix this.

Turns out when I originally wrote this, I mistyped the HTML id the "organism_id" data property was bound to.

[2022-02-04 18:55] #195 closed

[2022-02-04 19:00] adkinsrs commented on #194
@songeric1107 feel free to try it out on production now

[2022-02-04 19:54] adkinsrs commented on #194
Discovered the "organism-id" is not prepopulated as a data attribute for the datasets when a dataset_id is passed as a URL parameter... only when the user manually selects a dataset from the tree structure.  I'm working on a fix for this.

[2022-02-04 20:45] beamilon opened #196 "Issue #187 is back"
![image](https://user-images.githubusercontent.com/70719873/152600725-e4b0ca4c-781d-4b3d-9f31-e4ee83cb391b.png)

[2022-02-04 21:45] jorvis commented on #196
Issue #187 - Can you provide for me the URL you used to get this (privately, if needed)

[2022-02-04 21:53] beamilon opened #197 "Multigene curations ready to go live"
I have curated multi-gene displays for all datasets in the following profiles (very few have issues and I am keeping track of them and will create tickets later):
- Adult
- Aging
- Central auditory system
- Chick
- Development
- Ear (diverse variety)
- Hair cell
- Hair cell and supporting cell transcriptomics and epigenomics, Mouse (Segil 2021)
- Hair cell reprogramming - transcriptomics and epige

[2022-02-04 21:54] beamilon commented on #196
It's not URL specific. It happened when refreshing any page on the gEAR.

[2022-02-04 21:54] jorvis commented on #197
OK, and what user were you logged in as when you made these curations?

[2022-02-04 21:55] beamilon commented on #197
Curator

[2022-02-04 22:04] jorvis commented on #196
Fixed again.  Issue was reintroduced today when I fixed permalinks.  Now have uploaded a version which corrects both.

[2022-02-04 22:04] #196 closed

[2022-02-04 22:29] adkinsrs commented on #194
Addressed with [4e7471b](https://github.com/IGS/gEAR/commit/4e7471b4b3ab68dd2b22299c14b568c9850f2707)

[2022-02-05 17:16] beamilon opened #199 "HeatMap labelling improvement if feasable"
When a dataset has 3 conditions, one condition is chosen for the first category, one condition for the second category and the third condition can be implemented with the cluster colorbars. However, when cluster colobars is checked, the labels on the heatmap for conditions 1 and 2 are not displayed. Can we have the labels showing up? The example shown is for the Outer Hair Cell Response to PTS-ind

[2022-02-05 17:38] beamilon opened #200 "Multigene Curator - Enable clusterbars on matrixplots"
That may be naive on my part but I don't understand why creating a matrixplot needs to disable the cluster colorbars from the heatmap. In the example below, can the means for gene expression still be linked to the condition that the individual replicates were linked to? This would allow to display 3 conditions even when using the matrixplot.
![image](https://user-images.githubusercontent.com/70719

[2022-02-05 17:43] beamilon opened #201 "Primary analysis needed for public 2 scRNAseq datasets"
Could we create primary analysis for the single cell workbench for the following 2 datasets?
- 9 wko, mouse, scRNA-seq, cochlea, spiral ganglion neurons (Decibel Tx)
- P25-P27, mouse, scRNA-seq, cochlear sensory neurons (Goodrich)

[2022-02-05 18:00] jorvis commented on #201
These are dataset IDs:
2f79f784-f7f7-7dc3-9b3e-4c87a4346d91
c32835d3-cac4-bb0e-a90a-0b41dec6617a

I ran it, but neither had primary analysis data to parse out.  The second one, for example, has only coluns 'tissue_type' and 'replicate'

[2022-02-05 18:04] beamilon commented on #197
@jorvis: some datasets seem to have escaped the transfer of owner for multigene display. If it is just because you are still implementing them, SORRY.
- P7-adult, mouse, RNA-seq, medial geniculate and primary auditory cortex (A1) (Hackett)
- P25-30, mouse, microarray, IHC vs OHC (He)
- in vitro, chick, RNA-seq, utricle, response to Streptomycin (Lovett)
- E6.5, chicken, RNA-seq, proximal, middle,

[2022-02-05 18:05] beamilon commented on #201
Ok. Thanks. We will probably need to contact them if they want to have one.

[2022-02-05 18:06] jorvis commented on #201
Closing then until this is needed again and new data is acquired.

[2022-02-05 18:08] songeric1107 commented on #201
anything I can help? I can add a column for primary analysis purposes, do you want me to do it?

[2022-02-05 18:15] beamilon commented on #201
@songeric1107 . If it is easy to do, you can do it. I don't know how it works and if we ask for permission before publishing a primary analysis.

[2022-02-05 19:53] beamilon commented on #201
@songeric1107 Ronna said to go ahead.

[2022-02-05 21:09] songeric1107 commented on #201
@jorvis , I add extra column "cluster_lab" for both datasets

- **c32835d3-cac4-bb0e-a90a-0b41dec6617a.h5ad**

![Screen Shot 2022-02-05 at 4 07 11 PM](https://user-images.githubusercontent.com/6730079/152659078-3eaf1e1a-62e6-441c-81b2-08d1b9872687.png)

- **2f79f784-f7f7-7dc3-9b3e-4c87a4346d91.h5ad**

![Screen Shot 2022-02-05 at 4 09 07 PM](https://user-images.githubusercontent.com/6730079/1526591

[2022-02-05 21:41] beamilon commented on #197
@jorvis, I added multigene display to these additional datasets.
- Outer Hair Cell Response to PTS-inducing noise (PrestinCre;RiboTag;CBA mice), RiboTag RNA-seq
- Supporting Cell Response to PTS-inducing noise (Sox2Cre;RiboTag;CBA mice), RiboTag RNA-seq
- Spiral Ganglion Neurons (SGN) Response to PTS-inducing noise (scRNA-seq), UMAP display
- Spiral Ganglion Neurons (SGN) Response to PTS-inducing

[2022-02-05 21:53] beamilon opened #202 "HeatMap labelling improvement if feasible #3"
Is it possible to have the title of the graph displayed with the graph itself in the final window?
In some case, I need to create two different multigene graphs because of the number of conditions. But once displayed, it is not possible to know what the graph condition the graph represent.

[2022-02-06 03:18] #194 closed

[2022-02-06 04:29] jorvis commented on #197
I haven't done anything here yet.  Are these datasets all within the same profiles as mentioned initially?

[2022-02-06 14:35] beamilon commented on #197
The first list yes.
The second list are datasets in NIHL, cell type-specific transcriptomics, mouse cochlea (Hertzano 2021) and in Noise/Damage/Protection.

[2022-02-06 18:41] beamilon opened #203 "Info icon not working in multigene view mode"
When in multigene view mode, clicking on the Info icon doesn't open the info window.
![image](https://user-images.githubusercontent.com/70719873/152696218-ce9d3738-4e66-403b-a2ef-54098cd8cf93.png)

[2022-02-06 22:19] beamilon commented on #197
More curations done today:
- P0, mouse, RNA-seq, epithelial vs neuronal, mesenchymal and vascular endothelial (Hertzano)
- 8-10 weeks-old, mouse, microarray, middle ear epithelium (MEE) in vitro air-liquid interface (ALI) culture for 7 days (Bingle)
- RNASEQ, schwannoma cells exposed to electromagnetic field (EMF)
- embryonic stem cell line, microarray, induction of hair cells (Henrique)
- human,

[2022-02-06 22:22] jorvis commented on #197
OK.  I'll tackle these tonight.

[2022-02-07 04:52] jorvis commented on #201
OK, clustering analysis added to both.

[2022-02-07 13:27] adkinsrs commented on #199
I originally included observation labels, but I took them out after generating some heatmaps where the observation labels would very cramped against each other to the point of being unreadable.  Furthermore, excluding the labels makes it easier to show the plot better in the gene results display page. What I can do is maybe show the labels if the number of observations is under a number like 80 an

[2022-02-07 13:32] adkinsrs commented on #200
I originally disabled this because of the work involved (and since the name was in the observation), but it is definitely possible to add the colorbars to a matrixplot. Currently, I map to colors to the original observation labels, so I would need to do a similar mapping with the current matrixplot labels.

For your example however, I cannot create a clusterbar for the "condition" label, since I c

[2022-02-07 13:35] adkinsrs commented on #203
Hi @beamilon,

I need an example where you are seeing this.  I have clicked the "info" button for a couple of datasets and had no issues generating the dialog box

[2022-02-07 13:52] adkinsrs commented on #202
For some reason, one of the previous commits (85b114351f49d307e5465ff7e3ed6a989be5b019) merged out my plot title code so that it never passes to the API

[2022-02-07 14:16] adkinsrs commented on #202
I pushed a new commit that should allow this to work now whenever the codebase on the server gets updated

[2022-02-07 15:30] beamilon commented on #199
The problem with the high number of observation is fixable if using the matrixplot to group replicates. This is why that would be super useful to be able to have the colorbars with the matrixplot. Is there really no way to integrate in the code the fact that the observations grouped are observations from the same condition, to be able to have the colorbars?
The problem is that a graph with no labe

[2022-02-07 15:36] adkinsrs commented on #199
I can write some code to add clusterbars for the categories used to split the observations within the day (though that may change since I haven't been feeling well today and yesterday).  If we need clusterbars for categories not used in the "split by" options, then that will require a bit of a rewrite in the heatmap code.

[2022-02-07 15:40] beamilon commented on #199
No problem. I am just giving feedback every time I think of something but I realize that not everything can be fixed at the same time. If you can do it for the workshop on Friday, it is good but if you don't feel good, it will wait for you to be better.

[2022-02-07 15:43] adkinsrs commented on #199
In any case, I pushed a commit where observation labels for all plots will show.

[2022-02-07 16:12] adkinsrs commented on #203
Closing this ticket for now, but it may be worth addressing the order of operations for when elements become clickable in the future.

[2022-02-07 16:12] #203 closed

[2022-02-07 16:21] jorvis commented on #200
After talking through this with Shaun it became clear that, while this would be a useful improvement, it would be too much code refactoring for the current week.  Leaving this as a ticket we can add to a later Sprint after ARO.

[2022-02-07 20:46] beamilon commented on #197
Here are more. I will try to finish tomorrow
- Dying Tall and Short HCs, chicken (Heller)
- Dying Tall HCs, chicken - violin plot (Heller)
- Dying Tall HCs, chicken - trajectory colored by expression (Heller)
- Dying Tall HCs, chicken - trajectory colored by cell type (Heller)
- Dying Short HCs, chicken - violin plot (Heller)
- Dying Short HCs, chicken - trajectory colored by expression (Heller)
-

[2022-02-08 06:01] jorvis opened #205 "Gene carts empty after login"
Steps to reproduce:

- Be NOT logged in when you load the front page.  All gene carts show empty
- Log in
- Gene carts still show empty until page is loaded.

[2022-02-08 14:37] adkinsrs commented on #205
https://github.com/IGS/gEAR/blob/2fa46e6bc501e9a3a2692da910a03d399e0a4f39/www/js/index.js#L240-L249

[2022-02-08 18:01] beamilon opened #206 "Missing gene list for dataset"
Trying to create a multigene display for 4dpf, zebrafish, RNA-seq, TU-tagged hair cells mRNA and whole larvae input (Nicolson) and no gene are showing up as detected in the dataset.

[2022-02-08 19:03] beamilon commented on #197
Last datasets for now:
- scRNA-Seq of all principal neonatal cochlear cell groups,cell type,svg (Heller)
- scRNA-Seq of all principal neonatal cochlear cell groups,gate (Heller)
- scRNA-Seq of all principal neonatal cochlear cell groups,CellTrails (Heller)
- scRNA-Seq of all principal neonatal cochlear cell groups,cell type,color_code (Heller)
- scRNA-Seq of all principal neonatal cochlear cell gr

[2022-02-08 20:54] adkinsrs opened #207 ""Contact Screenshots" path in "Contact Us" comment is incorrect"
I noticed that the "Contact Screenshots" path is incorrect as the symlink did not resolve to the right location.... the symlink needs to be a directory above the uploaded file location (it is currently symlinked in the same directory).  Also the URL is specifically pointing to umgear.org, so any screenshots submitted in another domain (like GCID) will also not be correct

[2022-02-08 20:58] adkinsrs commented on #207
Pushed commit to resolve symlink path.  Also I fixed existing symlinks on the production server that were down a directory

[2022-02-08 20:58] #207 closed

[2022-02-09 06:17] jorvis commented on #197
This is ready and has run on the Adult profile as a test.  When I added your expanded list of datasets though there was at least one instance where there were more than one dataset title with the exact same title.   Example:

[code]

We can talk and resolve this tomorrow.

[2022-02-09 13:50] adkinsrs commented on #206
I can confirm the genes are there in this particular dataset and being returned by the API call Also can confirm that the select2 element to select genes is working with other datasets.  I'll poke around some.

[2022-02-09 14:30] adkinsrs commented on #206
What I am noticing is that the "genes" API call returns JSON but Chrome cannot render it correctly like the other "genes" API returns.  I can print the returned data object to console, but the "gene_symbols" property (an array) does not print despite being in the returned JSON.  This means the array passed to the gene selection element ends up being undefined.

Possible candidates on why this is h

[2022-02-09 14:46] adkinsrs commented on #206
It's the NaN ones.  I'm changing the API call to return `adata.var.gene_symbol.fillna("None").tolist()`, which ensures all returned values are string, and not break the JSON

[2022-02-09 14:47] adkinsrs commented on #206
Committed 5eb69ca1157e1ee24781f2c676625506769a8e6f to main

[2022-02-09 15:14] beamilon opened #208 "Datasets without category for multigene display generation."
Four datasets have no category appearing in the multigene display viewer, so graphs can't be generated.
- P0, mouse, RNA-seq, hair cells vs epithelial non-hair cells (Hertzano)
- P0, mouse, RNA-seq, cochlea, hair cells compared with rest of cochlear duct (Groves)
- E12.5-P30, mouse, scRNA-seq, endolymphatic sac (Griffith)
- E18.5, mouse, microarray, cochlea, Igf1+/+ and Igf1-/- (Varela-Nieto)

Exa

[2022-02-09 15:27] beamilon commented on #191
It is working. Thanks

[2022-02-09 15:30] adkinsrs commented on #191
I am closing this ticket.

If you ever find that a single plot appears to take forever in loading, it is probably because I missed an error for that particular case.  So for those, just open up a new ticket with the dataset information and other pertinent information (unless it is a private dataset), and I'll address that.

[2022-02-09 15:30] #191 closed

[2022-02-09 15:36] jorvis commented on #197
No, it's totally fine to have the display variations in the title as you've shown just there.  The ones which are causing an error are those where the titles are absolutely identical.  Here are those datasets owned by curator and how many times that tile is found. There is even one which is loaded 9 times.
[code]

[2022-02-09 15:46] adkinsrs commented on #208
Using the example from #1114, I feel it may be tricky for some cases.  I can tell from the shape of the `adata.X` object that has 4 total observations which is the same as the adata.obs.index (meaning no replicates present). But creating the obs table would be manual work.... is this 2 categories with 2 conditions each, or is it 1 category with 4 conditions in that one category?

[2022-02-09 15:48] adkinsrs commented on #208
Is it possible to reupload these datasets, and change their UUID to match the previous one?

[2022-02-09 15:53] beamilon commented on #197
I see. I will check with Ronna because I am sure that some of the duplicates can be removed but we need to make sure that even though the title is the same, the data within them are exactly the same.

[2022-02-09 16:06] adkinsrs commented on #206
This should be available for checking now @beamilon

[2022-02-09 16:08] gear-portal-team opened #209 "Testing this form"
**From:** Shaun Adkins

**Email:** shaun.adkins@gmail.com

**Server IP:** 10.142.0.16

**Msg:** Testing this form for public submission

**Tags:** ['test']

**Screenshot:** None

[2022-02-09 16:09] adkinsrs commented on #209
This worked.

The modal boxes looked a little off for some reason.  Will check that in the future

[2022-02-09 16:09] #209 closed

[2022-02-09 16:14] adkinsrs opened #210 "GEAR comments-turned-Github issues do not assign user"
[code]

 Comments from the Contact page that get turned into Github issues should auto-assign @songeric1107 but they do not due to the permissions error above.

[2022-02-09 16:18] beamilon opened #211 "Error message for multigene graph"
The genes are now available but I get an error message when trying to create a graph. I tried Heatmap, Dotplot and Violin and get the the message. Of note, I got that message for P2, mouse, scATAC-seq, Organ of Corti Transcription Factor Motif Accessibility (Waldhaus) but it was only for the heatmap and I was able to create a dotplot.
4dpf, zebrafish, RNA-seq, TU-tagged hair cells mRNA and whole l

[2022-02-09 20:09] adkinsrs commented on #211
For one of them, I actually printed this error to the error logs (and it should have been propagated to the curator page itself)

```raise PlotError("Only one gene from the searched gene symbols was found in dataset.  The heatmap option require at least 2 genes to plot.")```

Did you attempt to create a heatmap with just a single gene?

[2022-02-09 20:13] beamilon commented on #211
No. I used 3 genes, Gfi1aa, Gfi1ab, Sox2

[2022-02-09 20:14] beamilon commented on #211
The genes don't appear in the drop down list if they are not found in the dataset and these three were good.

[2022-02-09 20:15] adkinsrs commented on #211
Ok, I'll poke around then.  It may actually be a different error then.  That error I referenced was actually meant for displaying plots after a front page search (where genes may or may not be in the dataset).

[2022-02-09 21:04] jorvis commented on #208
I think we're going to hold on this one until either after ARO or we find ourselves with nothing to do.

[2022-02-10 05:20] jorvis commented on #197
All of the datasets within the profiles initially posted in this ticket have been updated.

Can do the rest when we work out the duplication issue.

[2022-02-10 13:39] adkinsrs commented on #211
I see the error now when using the zebrafish dataset

` AttributeError: 'float' object has no attribute 'lower'`

Easy fix to make.  Interestingly enough, I tried the Waldhaus dataset on my local copy of gEAR and got another error related to returning the gene symbols... @beamilon did this happen to you?

[2022-02-10 14:55] beamilon commented on #211
I really don't remember what genes I used exactly. It's normal not to find the first two because they are specific to zebrafish. I may have used: Sox2, Pou4f3, pou3f4, Gfi1 (but not 100% sure)

[2022-02-10 15:16] adkinsrs commented on #211
<img width="1373" alt="Screen Shot 2022-02-10 at 10 14 43 AM" src="https://user-images.githubusercontent.com/5665914/153437278-b5bb767b-e00d-4812-91d0-559ed8f13d83.png">

Pou4f3 was not in that dataset, so I did select some genes at random and created this. So I wonder if it is a specific combination of genes that leads to the error.  Given that I have found some genes from the zebrafish dataset t

[2022-02-10 15:26] adkinsrs commented on #208
Going to work on an error message notifying the users there are no observations for this dataset.

[2022-02-10 16:20] jorvis opened #212 "Reproducible failure to load curator"
I'm logged in as myself.  When I go to the Dataset explorer and filter on my datasets, each result has a button to load the curator:

![edit_delete](https://user-images.githubusercontent.com/330899/153450284-de7c78e7-ab40-44a7-ab9c-a38f95858e83.png)

When I click it I'm no longer logged in and the curator fails to load.

![Screenshot from 2022-02-10 10-15-05](https://user-images.githubusercontent.

[2022-02-10 17:17] adkinsrs commented on #212
Can replicate via the "Curate Display" button on a dataset

[2022-02-10 17:21] adkinsrs commented on #212
I see the requested version of VueRouter cannot be found.  Looking into it

[2022-02-10 17:30] adkinsrs commented on #212
I believe the some CDN links for a combination of Vue, Vuex, and VueRouter got updated, and I am trying to ensure the correct compatible versions are used.  I know Vue has steadily changed from Vue2 to Vue3 and https://cdn.jsdelivr.net/npm/vue actually references Vue3 instead of 2 now.

[2022-02-10 17:54] #212 closed

[2022-02-10 19:25] adkinsrs commented on #208
<img width="1139" alt="Screen Shot 2022-02-10 at 2 25 32 PM" src="https://user-images.githubusercontent.com/5665914/153481805-6b10653e-fdb3-4f2d-a517-23a5d2e5daf1.png">

[2022-02-10 19:30] jorvis commented on #208
I like it.

[2022-02-11 15:31] songeric1107 opened #213 "add p value to bar plot"
Comments from user:

 I was wondering if was possible to add the P-value on the bar plots. I think that if there is this feature everyone will start to use it more in presentations or papers, including myself.

[2022-02-11 15:35] adkinsrs commented on #213
I think I would have to add diffxpy to the single-gene plotting code so that we can do a comparison of a condition against the union of the rest of the conditions in order to obtain the p-value.  So it would add some additional computational complexity but it is certainly possible.  I assume the user would want a label on the plot instead of having it on hover, which means I would need to modify t

[2022-02-11 16:40] songeric1107 commented on #201
This dataset is one of the earliest scRNA datasets we load to the gEAR (1/2019). At that time, we are not finalized what to load to gEAR. I finally found the tsne coordinate of this dataset, I will re-upload it, @jorvis could replace it in the public profile.

[2022-02-11 17:08] adkinsrs opened #214 "Compare tool - Wild card gene searches"
A workshop attendee in the compare tool breakout room asked if we support gene searches with wild cards, such as a family of genes (Pou*).  I mentioned that this was a great suggestion and I agree that it should be implemented

[2022-02-11 17:08] beamilon opened #215 "sign in issues"
New people who signed in during the workshop get signed out each time they go back to the main page.

[2022-02-11 17:15] adkinsrs commented on #215
@beamilon which page were they trying to access when they got signed out?

The process was sign-in -> new page -> back to main page, which signs them out?

[2022-02-11 17:20] beamilon commented on #215
Yes I think that's correct. Going back to the main page from another page in gEAR logs them out

[2022-02-11 17:22] adkinsrs commented on #215
Thanks! Fixing that will be priority 1 for me next week (since it's a bit too quick a turnaround to resolve during the workshop).  @beamilon do you know if they are clicking the "gEAR" icon to get to the front page, or are they hitting the "Back" button?  Since there are multiple ways to navigate to the main page, it would be useful to know if any specific means of navigation are causing this.

[2022-02-11 17:26] adkinsrs commented on #215
I also wonder if this is happening after navigating away from specific pages.  @JPReceveur told me he has observed this behavior on the manual and dataset explorer pages, both of which I have not touched.

[2022-02-11 17:34] beamilon commented on #215
@adkinsrs: I don't know if they click "gEAR" icon to get to the front page, or if they were hitting the "Back" button?

[2022-02-11 17:40] mgiglio99 opened #216 "Identify existing columns in gEAR metadata to which we can apply ontologies"
1 -  **instrument_model** can be captured with OBI device terms
Tasks:
--find existing terms for devices
--identify devices for which there are no OBI terms
--for datasets without platform_ids, search for device information

2 -  **library_strategy**
captures things like: RNAseq, single-cell RNAseq, scRNAseq, microarray
However, similar info is also captured in **dtype**
3 -  **dtype** appears to

[2022-02-11 17:50] jaluvathingal commented on #216
[](url)

[2022-02-11 17:50] mgiglio99 commented on #193
Issue https://github.com/IGS/gEAR/issues/216 addresses items 1,2,5 above

[2022-02-11 18:53] adkinsrs commented on #216
Going to reopen this for now, so that @jorvis and I can assess.  Unless @jaluvathingal has already completed this.

[2022-02-11 19:25] adkinsrs commented on #213
Was chatting with @jorvis, and this may be a lower priority item.  If the user already has p-values in their uploaded dataset it should be very easy for them to add the p-value as a "label" without any coding intervention on our part

[2022-02-11 20:58] JPReceveur commented on #215
Error message:
Uncaught TypeError: Failed to execute 'observe' on 'MutationObserver': parameter 1 is not of type 'Node'.
    at window.onload (index.1644613005866.js:254:14)

[2022-02-11 21:06] adkinsrs commented on #215
This is the console error that I asked @JPReceveur when it replicated this issue going back to the main page.  Since I added the MutationObserver to the compare tool and the multigene curator tool, one would also expect this to show on those pages as well.  I think the difficulty is that I personally haven't been able to replicate this, so despite being up-to-date on my browser (matching the same

[2022-02-11 21:21] adkinsrs commented on #215
On second thought, I think commenting those out would not be the best course of action since some initial genecart/dataset/profile tree loading for a couple pages occurs after the logged in user changes from the default "user" user (logged out status) to the logged-in user.

So I need to work on ensuring the "logged in controls" load before the mutation observer loads.

/end braindump

[2022-02-13 21:34] mgiglio99 commented on #216
I think Jain likely closed this by mistake. Work on this is ongoing.

[2022-02-14 15:24] jaluvathingal commented on #216
I’m sorry  I closed it by mistake. Thanks Michelle.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michelle ***@***.***>
Sent: Sunday, February 13, 2022 4:34:13 PM
To: IGS/gEAR ***@***.***>
Cc: George, Jain ***@***.***>; Mention ***@***.***>
Subject: Re: [IGS/gEAR] Identify existing columns in gEAR metadata to which we can apply ontologies (Issue #216)

I think

[2022-02-14 15:34] adkinsrs opened #217 "Test fixes for "sign-in issues""
This is in reference to #215.  I committed what I hope is a potential fix, and have deployed it to the devel server (devel.umgear.org).  In addition, I believe I have fixed the "Forget Password" broken button, which was not in a Github ticket but was noted by one of the users in the workshop.

[2022-02-14 16:13] beamilon opened #218 "Find marker genes step returns errors on a particular dataset"
Sorry if I missed something and it is being taking care of, but the 'find marker genes' from the primary analysis for P25-P27, mouse, scRNA-seq, cochlear sensory neurons (Goodrich) returns an "Error reporting marker genes"

[2022-02-14 16:25] beamilon opened #219 "Having "not applicable" instead of "No default display. Create one in the multigene curator.""
The Epiviz datasets can't have multigene displays and right now the message in the dataset window is "No default display. Create one in the multigene curator." Is it possible to have something like "Not applicable" or "Epigenetic dataset so not applicable" as a message instead for the Epiviz datasets?

[2022-02-14 16:48] songeric1107 commented on #218
this needs to be re-uploaded, there is no umap coordinate in the observation file, the primary function will not work.

[2022-02-14 18:06] songeric1107 commented on #201
I reupload the dataset again, here is the link

https://umgear.org/dataset_curator.html#/dataset/53f99080-29cd-44ca-4c14-b26ca1ad7588/displays
![Screen Shot 2022-02-14 at 1 05 38 PM](https://user-images.githubusercontent.com/6730079/153921140-4a2b8eb5-b96b-48ae-a919-a63641b981b2.png)

@jorvis , could you please add the primary analysis to this? thank you

[2022-02-14 18:07] songeric1107 commented on #218
reupload the dataset again with tsne coordinate.

https://umgear.org/dataset_curator.html#/dataset/53f99080-29cd-44ca-4c14-b26ca1ad7588/displays
![Screen Shot 2022-02-14 at 1 05 38 PM](https://user-images.githubusercontent.com/6730079/153921293-33e4686d-160d-4c1e-8b57-4f90e727563c.png)

[2022-02-14 19:00] gear-portal-team opened #220 "saving a list of genes into a new cart"
**From:** Elena Chrysostomou

**Email:** echrysostomou@salk.edu

**Server IP:** 10.142.0.16

**Msg:** Hi all

Hope you are doing well. I was just wondering if there is a way to save a list of genes that you have manually listed in the search bar into a gene cart.

I really like the new multigene display viewer!!

**Tags:** ['']

**Screenshot:** None

[2022-02-14 19:27] songeric1107 opened #221 "add primary analysis to a re-uploaded dataset"
reupload the scRNAseq dataset with tsne coordinate. (P25-P27, mouse, scRNA-seq, cochlear sensory neurons (Goodrich))

https://umgear.org/dataset_curator.html#/dataset/53f99080-29cd-44ca-4c14-b26ca1ad7588/displays

@jorvis could you please add the primary analysis to it?

#201 #218

[2022-02-15 01:15] jorvis commented on #220
I've responded.

[2022-02-15 01:15] #220 closed

[2022-02-15 15:07] adkinsrs commented on #217
Updated manual page, so that the embedded slides and videos load after everything else in the page renders. This should speed up getting the navbar up-and-running and the user being logged in.

[2022-02-15 15:10] adkinsrs commented on #219
Sure.  I can get to work on this.  Can you give me an example of an epigenetic dataset so I'm not trying to fish for one?

[2022-02-15 15:13] adkinsrs commented on #211
Closing this ticket since I am unsure of a resolution to address the issue.

[2022-02-15 15:13] #211 closed

[2022-02-15 15:14] adkinsrs commented on #214
If i were to do this, I think maybe having a button similar to the "Exact match" button on the gEAR front page would make a lot of sense.  But then I'd have to ensure the user does not enter wildcards and such

[2022-02-15 15:38] adkinsrs opened #222 "Update dataset curator to use Vue3"
Relates to https://github.com/jorvis/gEAR/issues/861

VueJS has switched their default from Vue2 to Vue3.  With their latest minor commit to Vue2 it would be shifted to "maintenance mode" status. This concerns me with respect to end-of-life support. I feel that eventually it will be in our best interest to migrate to Vue3 in order to prevent issues down the road.

This is not an immediate priority

[2022-02-15 15:39] beamilon commented on #219
Here is one: P2, mouse, scATAC-seq, Chromatin Accessibility (Waldhaus)

[2022-02-15 17:00] adkinsrs commented on #219
I thought about this, and I could definitely put some sort of "Not supported" tag for datasets that would normally not be able to be returned for potential curation in the multigene curator.  And it seems the reason this dataset cannot be curated in the single or multigene curators is that it has no h5ad file.  I'll probably also do a sweep to ensure datasets with no h5ads cannot be used in tools

[2022-02-15 18:02] adkinsrs commented on #219
Here are the two adjustments I have made (currently on gear-devel on the "genecart_frontpage" branch).

* For any dataset without an h5ad file, I hide the compare tool and curation tools, in addition to the previously hidden scRNA-Seq workbench.  This is because these tools require reading h5ad files.
<img width="1229" alt="Screen Shot 2022-02-15 at 12 52 43 PM" src="https://user-images.githubuser

[2022-02-15 19:44] adkinsrs commented on #219
<img width="464" alt="Screen Shot 2022-02-15 at 2 44 29 PM" src="https://user-images.githubusercontent.com/5665914/154136998-23eeef2d-a8ed-4604-917e-10d50b762941.png">

[2022-02-15 19:48] adkinsrs commented on #219
Code changes are committed and on the gear-devel server.  Closing ticket.

[2022-02-15 19:48] #219 closed

[2022-02-15 19:51] jorvis commented on #221
Done

[2022-02-15 19:51] #221 closed

[2022-02-15 19:53] adkinsrs opened #223 "Test new side panel for gene search results displays"
Last week, I modified the panel on the gene results display page to mimic the button stylings and options found on the gEAR main page.  This is currently on gear-devel, and it would be nice if a couple of people tested it to ensure it works properly for them.  Just a simple gene search from the front page, or using a permalink (if it works on devel.umgear.org) should get you to the display results

[2022-02-15 20:22] jorvis commented on #201
Can this be closed now since #221 is?

[2022-02-15 20:28] songeric1107 commented on #201
I guess so

[2022-02-15 20:31] #201 closed

[2022-02-15 20:52] songeric1107 opened #224 "The default icon is not visible during curation"
the "default" icon does not show on the top right corner of the default display during curation although I clicked it multiple times, although I refresh the page multiple times.

![Screen Shot 2022-02-15 at 3 48 17 PM](https://user-images.githubusercontent.com/6730079/154146859-39d5f168-d630-4ae6-98de-c1871760d352.png)

[2022-02-15 20:54] adkinsrs commented on #224
It could indicate the "save as default" CGI call is not succeeding

[2022-02-15 20:55] adkinsrs commented on #224
@songeric1107 can you paste the URL for this?

[2022-02-15 20:56] songeric1107 commented on #224
7960565d-bc9e-2320-8492-f482745ef498

[2022-02-15 20:59] adkinsrs commented on #224
save_default_display.cgi returns true, so it is something else

[2022-02-15 21:03] adkinsrs commented on #224
Since I recently had to change the Vue JS library loaded to a specific version, maybe there was a breaking code-change associated with that release compared to whatever version was being pulled in by default.

[2022-02-15 21:12] adkinsrs commented on #224
<img width="351" alt="Screen Shot 2022-02-15 at 4 07 56 PM" src="https://user-images.githubusercontent.com/5665914/154149371-e1ccd179-4a81-42f1-8f61-e8936e3e61c1.png">

It's neither.  It's an issue with the CSS not rendering the purple color.  I recently adjusted the CSS to use variables but some have too many hyphens.  Going to push a commit soon, and fix it directly on the production server too

[2022-02-15 21:13] adkinsrs commented on #224
Should be fine now... closing

[2022-02-15 21:13] #224 closed

[2022-02-16 14:15] adkinsrs commented on #178
This has been implemented

[2022-02-16 14:15] #178 closed

[2022-02-16 14:16] #192 closed

[2022-02-16 14:28] adkinsrs commented on #186
Closing this for now.  Was able to successfully save a gene cart

[2022-02-16 14:28] #186 closed

[2022-02-16 14:32] adkinsrs opened #225 "Multigene Curator - Change gene selection / cart saving to resemble compare tool"
Request from Ronna a while back.

Initially in the multigene curator genes were shown on the right side of the plot, along with the gene cart saving button.  Based on feedback from Anup during the GCID demo rush, I moved all of this into a modal that was accessible by a button click.  Ronna feels this should actually show on the right side of the page in a table format, much like how the compare t

[2022-02-16 15:28] adkinsrs opened #226 "Dataset Curator - Add error message if plot fails."
Ran across an issue in the dataset curator when plotting.  The error doesn't necessarily matter but the fact that no error showed up is worrisome.  The average user would not realize that the plot errored out.

[2022-02-16 15:58] JPReceveur commented on #223
Tested and works as expected, I like the update

[2022-02-16 16:11] adkinsrs commented on #225
Created "mg_gene_cart_table" branch to address this

[2022-02-16 19:33] adkinsrs commented on #226
Seems there is a "warning" printout in dataset_curator.js <plotly-chart> component if the API call's success is a failure.  So I think my real objective is to add more try/except blocks in the code to ensure most errors can be accounted for

[2022-02-16 22:01] beamilon commented on #197
All the needed datasets have multiple displays now. So I think this ticket can be closed.

[2022-02-16 22:07] beamilon commented on #214
There is a button for exact match on the front page already. And wildcard search is already implemented, this is when the 'exact match' is not turned on. I think it is just not obvious to users.

[2022-02-16 22:09] beamilon commented on #223
I checked and like it too.

[2022-02-16 22:12] beamilon commented on #214
Forget it. I misread.🤔🤔

[2022-02-16 22:15] songeric1107 commented on #223
I checked a gene on the front page and get the output without login (devel), I like it too. But I can not log in to the curator account

[2022-02-16 22:35] beamilon commented on #208
P0, mouse, RNA-seq, hair cells vs epithelial non-hair cells (Hertzano) has now categories so I created a multigene display.

Can we have the error message for E18.5, mouse, microarray, cochlea, Igf1+/+ and Igf1-/- (Varela-Nieto), there are no category.

[2022-02-16 22:40] songeric1107 commented on #208
I am not sure it is due to the special character of the "condition" or lack of duplicate for the condition.

![Screen Shot 2022-02-16 at 5 39 57 PM](https://user-images.githubusercontent.com/6730079/154369581-5c6a635b-c231-4a46-bf2f-2090b45f5ea0.png)

[2022-02-16 22:42] beamilon commented on #197
I added a display for P0, mouse, RNA-seq, hair cells vs epithelial non-hair cells (Hertzano)
So ticket not ready to be closed I guess.

[2022-02-16 22:44] beamilon commented on #208
The Hertzano dataset doesn't have replicates either but the categories are now showing up, so it is probably another problem.

[2022-02-16 22:49] songeric1107 commented on #208
@beamilon , I modified the h5ad file (Ronna's) by adding the category variable to it. https://github.com/jorvis/gEAR/issues/1114

[2022-02-17 03:41] jorvis commented on #223
On devel the curator password will be the old one still.  I only updated that account on production.

[2022-02-17 20:45] beamilon commented on #197
I think that these 2 datasets were not transferred as default. They are in curator but not in my account
4dpf, zebrafish, microarray, hair cell, mantle cell and skin (Hudspeth)
5dpf, zebrafish, RNA-seq, hair cell (IP) and whole larvae input (IN) (Hertzano)

Now that the following dataset has been fixed, I created a multigene display
4dpf, zebrafish, RNA-seq, TU-tagged hair cells mRNA and whole lar

[2022-02-18 15:30] jorvis commented on #48
Yeah, working on the spacing with Lance.

[2022-02-18 15:48] beamilon opened #227 "Refresh needed when creating a new profile"
I created a new profile and in order for it to be 'active', I have to refresh the page. If I don't refresh and click the eye icon to see the datasets in my new profile, it lists all the public datasets. Only after I refresh the page, the correct datasets for the profile are shown.

[2022-02-22 14:01] adkinsrs commented on #199
Closing this ticket since the original question (labels on all observations) was addressed.

[2022-02-22 14:01] #199 closed

[2022-02-22 14:24] adkinsrs commented on #200
Going back to commenting on this issue.

I realize the context of the clusterbars in this particular dataset.  Observations at 0hr are considered "baseline" and any other timepoint is considered "noise".  The issue is that the dataset is transformed using the "groupby" method so that the mean expression can be calculated on every primary/secondary category group combination, which drops the "condi

[2022-02-22 17:00] adkinsrs commented on #225
Both features have been pushed to branch

[2022-02-22 18:57] beamilon commented on #200
That sounds good to me. The only reason I was using the matrixplot option was to average the replicates.

[2022-02-22 19:31] jorvis commented on #48
Updated in commit ed1942e

[2022-02-22 19:31] #48 closed

[2022-02-23 15:09] adkinsrs commented on #200
After mulling it over and chatting with @songeric1107 and @beamilon, I think I will change the "matrixplot" option to do this feature, since there may be no point to the matrixplot option as is.  Since the existing "matrixplot" code is in version history, it should be easy to revive if needed.  Also, keeping the same option name will not overly break things.  Those plots should not limit observati

[2022-02-23 17:54] songeric1107 commented on #208
E18.5, mouse, microarray, cochlea, Igf1+/+ and Igf1-/- (Varela-Nieto)

there is no duplicate for this dataset

https://umgear.org/dataset_curator.html#/dataset/1123e546-e178-01a4-54d9-13492913c739/displays

![Screen Shot 2022-02-23 at 12 52 37 PM](https://user-images.githubusercontent.com/6730079/155377956-c8d29542-27c6-463d-b762-44a221c8dbf8.png)

[2022-02-23 18:00] songeric1107 opened #228 "the profile name is displayed incorrectly after viewing the selected dataset of interest"
If you search a dataset of interest and click view butter, the profile name is not the right one assigned to the dataset, which is confusing.

this dataset should belong to "Auditory/Vestibular mutants / Mouse models / Cochlea" profiles.

https://umgear.org/dataset_curator.html#/dataset/1123e546-e178-01a4-54d9-13492913c739/displays

![Screen Shot 2022-02-23 at 12 51 35 PM](https://user-images.gith

[2022-02-23 18:03] adkinsrs commented on #208
This is what I see in the observations

[code]

The error you posted was that the "cell_type" and "louvain" only have a single group present and so it would be pointless to filter them.  Should I get rid of that, and let you filter them anyways, even if it does not matter in the end?

The "conditions" category should have been shown but I am guessing the slash in both groups is causing some issue.

[2022-02-23 18:14] adkinsrs opened #229 "Indicate if observation metadata is categorical or numerical before upload"
Occasionally we receive datasets where a metadata field intended to be categorical is listed as a numerical or mixed object datatype instead, based on the metadata group entries having all numbers or characters that could be interpreted to be used in equations. I feel these should ideally be specified by the user, if possible, before upload, so when the h5ad file is created the right datatype can

[2022-02-23 18:16] adkinsrs commented on #229
#208 is a reference where a metadata field was considered a mixed object dtype because of some odd characters.  This could have been prevented if the upload or h5ad creation scripts enforced the categorical dtype before writing to file.

[2022-02-25 17:02] adkinsrs commented on #200
<img width="1372" alt="Screen Shot 2022-02-25 at 11 58 21 AM" src="https://user-images.githubusercontent.com/5665914/155755882-4dc74bdf-0476-4747-942d-814f64b6df15.png">

Progress update.  Clusterbars now show if the replicates are aggregated.  Per @beamilon's preference the observations are combination of all categories but the labels leave out any excluded filters (in this case, "time point" gro

[2022-02-25 18:37] adkinsrs commented on #200
<img width="1370" alt="Screen Shot 2022-02-25 at 1 34 22 PM" src="https://user-images.githubusercontent.com/5665914/155769155-cff5a544-2abe-4e52-a0d7-bff8a1023378.png">

In response to the last paragraph of my previous comment, if a category is neither included in "filters" or "clusterbar" fields ("time point" in this example), then the category is out entirely, as the "groupby" command will calcu

[2022-02-25 19:43] adkinsrs commented on #200
Currently on gear-devel for testing

[2022-02-28 15:26] adkinsrs commented on #208
@songeric1107 do you want me to edit this dataset to fix the "conditions" datatype to category?

[2022-02-28 16:10] #225 closed

[2022-02-28 16:13] adkinsrs opened #232 "Test new Multigene Curator gene selection features"
References to #225

In the multigene curator, if you select a "quadrant" or "volcano" plot, when you select genes a table will pop up on the right side.  This table resembles that of the comparison tool in that you can download data and save a gene cart from those genes. This table also can scroll if the genes list is long, but it is imperfect in my opinion but serviceable.

[2022-02-28 18:11] JPReceveur commented on #232
Table works as expected.

Some other volcano plot related comments:
When clicking on a plot for the first time, is the zoom functionality supposed to be default or is the select tool? The tooltip for how to go back to the full sized plot by double-clicking should stay up longer. Should there be a zoom icon in the plot controls and do we want the plot controls vertically to match the comparison too

[2022-02-28 18:18] adkinsrs commented on #232
- The zoom functionality is the default in plotly, and I am not sure if it is possible to reset which tool is the starting default... would have to look it up.
- Help instructions (just like in the comparison tool) since they would have to account for the plot width being different since some plots do not show a table to the right of it.  I can just make all plots the same width and put the help i

[2022-02-28 18:30] JPReceveur commented on #174
Found another dataset where a log2FC of 15K is pulling the plot axis and making it hard to read:
4-6wks, mouse, scRNA-seq, utricle Atoh1-transduced supporting cells (Groves)

<img width="978" alt="Screen Shot 2022-02-28 at 1 12 09 PM" src="https://user-images.githubusercontent.com/28451557/156037275-aee987b1-15dd-48c7-be3b-7fdad2ac8de9.png">

[2022-02-28 19:21] adkinsrs commented on #174
I wonder if this dataset needs to be added to the list of datasets that are considered log10 by default.  I believe this is a case where we assume the data is raw and then it gets log transformed when already transformed.

[2022-02-28 19:28] adkinsrs commented on #174
As a result I think it's fair to close the ticket again since it seems to be a specific dataset issue and not necessarily a malady of the codebase

[2022-02-28 20:56] adkinsrs commented on #232
Updated gear-devel with everything but the "help instructions" bullet point since that wasn't specifically requested, and I'm not sure how best to implement that if I wanted to.

[2022-02-28 21:02] songeric1107 commented on #208
I think you can try. Maybe let Bea know what she wants to change it to?

[2022-03-01 14:34] gear-portal-team opened #233 "Publication dataset"
**From:** camilla boschian

**Email:** camilla.boschian.18@ucl.ac.uk

**Server IP:** 10.142.0.16

**Msg:** Dear Mr/Mrs,

I wanted to know if the RNAseq dataset in "other" section called "P0, mouse, RNA-seq, epithelial vs neuronal, mesenchymal and vascular endothelial (Hertzano)" has been published? The publication is not present so I am assuming it is a new dataset.

Bests
Camilla

**Tags:** ['gEA

[2022-03-01 16:06] adkinsrs commented on #200
@JPReceveur @Kvnrose can you take a look and give feedback?  These are largely design choices based on talks with @beamilon.  I've already had @songeric1107 take a look at this.

To summarize:
* Matrixplots will now allow the user to include clusterbars in the plot.
* The mean expression is aggregated by a union of the chosen categories to include as well as the chosen clusterbars to include.
* Th

[2022-03-01 17:04] JPReceveur commented on #200
Matrixplots work as expected and clusterbars look ok, having an N= above each aggregate group might be nice, but unless a user specifically asks for it, I think it looks fine as is.

Two comments:
- If you create a plot and then decide you want to remove a group, if you just click the x to remove under step 4 and hit create plot again, it doesn’t update the groups used in the plot. To get it to re

[2022-03-01 17:09] adkinsrs commented on #200
Both of those are fair points.  Currently the list sort is created on the fly when the user selects a category, but there is no event trigger to update it if the user updates the included groups.  I can also move the instructions over too... I believe I kept them to the far left due to aesthetics but I see your point there.

I was pondering how best to add a N aggregate somewhere.  Since I had not

[2022-03-01 18:31] beamilon commented on #200
I tried with Outer Hair Cell Response to PTS-inducing noise (PrestinCre;RiboTag;CBA mice), RiboTag RNA-seq and I like it. It gives more flexibility when there are more than 2 categories.

[2022-03-01 20:07] adkinsrs commented on #200
@JP I was not able to replicate this behavior "technically".  By that, I mean that when I plot, then remove a group, there is an initial dropdown that wants me to select another group to include.  However if I ignore that in click "Create Plot" that is not actually creating a plot, but instead deselecting the "group selection autocomplete" feature. Clicking "Create Plot" after this creates a plot

[2022-03-02 13:40] songeric1107 opened #234 "change the assignee for users' question"
should we change the assignee corresponding to users' questions? Elena is not in the group.

![Screen Shot 2022-03-02 at 8 35 47 AM](https://user-images.githubusercontent.com/6730079/156372309-43d788cf-d3a0-4f1a-bbce-94a1c5056a39.png)
?

[2022-03-02 15:23] adkinsrs commented on #234
those are supposed to be auto-assigned to you.  Unsure why they are still going to elena

[2022-03-02 16:18] adkinsrs commented on #234
Another potential thought is that this actually came from the NeMO-analytics portal, which I believe may not have the updated code that assigns @songeric1107 as the user.  Comments in all portals redirect to the gEAR issue area

[2022-03-03 14:08] adkinsrs opened #235 "Multigene curator - Export parameters used"
One of the gEAR advisory board suggestions was to provide a way to export the parameters used to generate the plot, which can be useful for replication purposes. Since all of this information is stored in the plotly_config field in the dataset_display table in the database, this should be easy to achieve. We may have to pare down some options returned since I think the config stores all potential

[2022-03-03 14:15] JPReceveur opened #236 "Add analysis tool links to dataset explorer"
Currently if users want to open a dataset in an analysis tool from the dataset explorer, there are no easy ways of going directly from the dataset explorer to an analysis tool (similar to how when doing a gene search you can use the dropdown menu to open the dataset in a tool.

Perhaps adding buttons in line with the view, change display buttons for the various tools or one 'analysis' button with

[2022-03-03 14:19] adkinsrs opened #237 "Add dataset citation to plot downloads"
I believe this applies any save-able plot.  One of the gEAR advisory board members suggested that gEAR would have much more presence if the plotly built-in or a custom download button add a "gEAR watermark" as well as a citation of the dataset that people can use.

[2022-03-03 14:49] #174 closed

[2022-03-03 14:55] adkinsrs commented on #174
So this dataset is already in the "log10-transformed" list.  I'm going to leave this ticket closed and just poke around some.

[2022-03-03 15:01] JPReceveur commented on #232
Related to the zoom functionality in the volcano plot,  can a plot control be added for zoom (similar to the compare tool)? I think zoom is a useful control to have for the volcano plots.

Other changes look good and work as expected

[2022-03-03 15:05] adkinsrs commented on #232
@JPReceveur Yes,  in fact we have full control over what controls are shown or hidden. It may be worth having a discussion to determine if any additional plot controls should be added.

[2022-03-03 15:14] adkinsrs commented on #174
Pushed a commit to remove that dataset from the "log10-transformed list".  I believe it's inclusion into the list was in error. Volcano plot looks normal when dataset is excluded from this list (meaning that log2 transformation is applied).

![newplot](https://user-images.githubusercontent.com/5665914/156593292-8574e8b6-edb6-4bc0-ab0d-2fd19ea0c9b1.png)

[2022-03-04 16:18] adkinsrs opened #238 "Hitting "Back" on a page is inconsistent"
@JPReceveur and I observed this today.

He was showing me some functionality.  From the front page on devel.umgear.org, he went to the compose tool, then hit "Back", and this took him to the manual (where I believe he was at one point previously when showing me some stuff).

In an attempt to replicate, I opened a new tab, went to the devel front page, logged in, went to the compare tool, then hit

[2022-03-07 14:28] JPReceveur opened #239 "Add links to tutorials/get help button to all tool pages"
From user feedback, we keep getting asked for tutorials (video or otherwise) which suggests users are not going to the manual and looking for the tool they are interested in. Adding a 'get help' or 'tutorial' button to the single cell workbench and multigene curator tool might help remind users the tutorials are there. Also while the help popup for the compare tool is already there, it would be go

[2022-03-07 19:46] adkinsrs opened #240 "Update software versions on server and fix any associated introduced bugs"
Recently created a branch "software_update_bugfixes" to address this.  Eventually we want to update software on the servers to take advantage of new functions and efficiency.

My current Docker version of code (which has python package versions as shown in https://github.com/IGS/gEAR/blob/main/docker/requirements.txt) has issues with a few things, such as the compare tool failing in `scanpy.rank_g

[2022-03-08 18:08] songeric1107 commented on #125
I think only these two are left.

https://github.com/jorvis/gEAR/issues/1030

Rhizopus delemar

Aspergillus fumigatus

[2022-03-09 03:33] jorvis opened #241 "Make zebrafish profile public"
From Ronna:

[2022-03-09 16:25] jorvis commented on #241
OK, this is done.

@songeric1107 - Ronna has requested that a full copy of this profile be created with the same name so that I can make it appear under the HRP folders too.  A coming update will make it such that one layout can appear in multiple places, but for now a manual copy has to happen.

[2022-03-09 16:40] songeric1107 commented on #241
@jorvis , If I understand correctly, I need to add the datasets in Regenerating Neuromast (Piotrowski) to HRP profile, right?

[2022-03-09 16:42] songeric1107 commented on #241
I could not see the group profile from "data explore".
![Screen Shot 2022-03-09 at 11 41 49 AM](https://user-images.githubusercontent.com/6730079/157488502-6041b513-1575-470e-b457-1806c74d4035.png)

[2022-03-09 16:42] jorvis commented on #241
Create a new profile called "Regenerating Neuromast (Piotrowski)" and make it identical to this one:

https://umgear.org/index.html?&gene_symbol_exact_match=1&multigene_plots=0&layout_id=5e1bb1ec&gene_symbol=Sox2

[2022-03-09 16:44] songeric1107 commented on #241
got it

[2022-03-09 17:03] songeric1107 commented on #241
https://umgear.org/p?l=466fb708

change the profile name from "Regenerating ZF Neuromast (Pio)" to "Regenerating ZF Neuromast (Piotrowski))

[2022-03-09 18:30] jorvis commented on #241
This has all been done.

[2022-03-09 18:30] #241 closed

[2022-03-10 18:10] adkinsrs opened #243 "Implement ProjectR"
This is a continuation of https://github.com/nemoarchive/analytics/issues/104 and https://github.com/nemoarchive/analytics/issues/111

Tagging [carlocolantuoni](https://github.com/carlocolantuoni) to notify him of the new ticket, and I will close the existing tickets

<img width="1728" alt="Screen Shot 2022-03-10 at 10 28 56 AM" src="https://user-images.githubusercontent.com/5665914/157727446-50b7

[2022-03-10 22:36] beamilon opened #244 "Multigene viewer problem for 3 profiles"
I was updating some of the multigene displays and noticed a problem for all the datasets in the following 3 profiles:
- scRNA-seq - Chicken basilar papilla (Heller 2021)
- scRNA-seq - Crista, mouse (Bermingham-McDonogh)
- scRNA-seq - Chicken dying hair cells (Heller 2021)

The categories appearing don't correspond to the ones from the datasets and the icon with "loading plot options" is stuck in t

[2022-03-10 23:02] beamilon opened #245 "Category order not updating for Lateral wall profile"
When creating multigene displays for the datasets in the lateral wall profile, adjusting the sort order for categories doesn't transfer to the graph.
It is fixed for the other datasets that had the same problem.

[2022-03-10 23:16] beamilon opened #246 "Multigene displays updated and ready to be made default"
I have updated some of the heatmaps in the public profiles following @adkinsrs update. Some are automatically updating in user account but the following ones need to be pushed:

- [x] P0, mouse, RNA-seq, hair cells vs epithelial non-hair cells (Hertzano)
- [x] P1, mouse, RNA-seq, cochlea, hair cells, Gentamicin-induced gene expression changes (Segil)
- [x] P0, mouse, RNA-seq, epithelial vs neurona

[2022-03-10 23:21] beamilon opened #247 "Zoom in view icon"
I think that the drop down menu will be updated but would it be possible to have the (+) View by itself on the dataset banner. I feel that especially with having now the multigene displays, the zoom in option is really important and may be missed.
Example below
![image](https://user-images.githubusercontent.com/70719873/157771809-12a05663-56cb-49f6-a317-96b987589576.png)

[2022-03-11 13:51] adkinsrs opened #248 "Get original projection.html site in a working state locally"
In an attempt to better understand ProjectR and build some API functionality in, I think it would be best to fix the issues on the original projection.html site to serve as a prototype before I implement this into the gEAR main page code.

[2022-03-11 14:47] jorvis opened #249 "Update GCID portal to latest codebase"
Finished already, but putting here for issue tracking and in case we need to follow-up with edits.

[2022-03-11 14:47] #249 closed

[2022-03-11 14:48] jorvis opened #250 "Update NeMO Analytics to latest codebase"

[2022-03-11 16:52] adkinsrs commented on #125
Added red/blue barcharts for the two Brugia Malayi datasets that did not have them.  Left one as the SVG default and changed the other to use the barchart as default

[2022-03-11 17:50] JPReceveur opened #251 "Update <epigenomics browser> upload dropdowns to be private by default"
Throughout the rest of gEAR, datasets, gene carts, etc are private by default. However in the EpiViz data uploader, the dropdowns are set to be public by default. Can the defaults for these be updated to better match the rest of the site and be private by default?

<img width="1204" alt="Screen Shot 2022-03-11 at 12 45 26 PM" src="https://user-images.githubusercontent.com/28451557/157921834-d23540

[2022-03-11 20:31] jorvis commented on #250
This has been done.

[2022-03-11 20:31] #250 closed

[2022-03-11 20:39] mgiglio99 commented on #216
Discussion on 3/11

2/3 - library strategy is a GEO field. Based on what GEO has, it appears to be on an assay level description - they have a list of terms that is incomplete (no scRNAseq, no bulk RNAseq). We can explore with them getting more things added.
**AI - contact them.**
Page on submitting data to GEO:
https://www.ncbi.nlm.nih.gov/geo/info/seq.html
**AI - map existing GEO terms to OBI as

[2022-03-11 20:46] mgiglio99 commented on #216
List of technologies in gEAR as of 3/11

Affymetrix Clariom S Assay
Affymetrix GeneChipH MOE 430 2.0 arrays
Affymetrix Mouse Gene 2.1 ST Array
Affymetrix Mouse Gene ST 1.0 arrays
Agilent-026655 Whole Mouse 4x44K v2
Agilent-030493 SurePrint G3 Mouse Exon 4x180K
Custom Affymetrix Mouse Exon Junction Array
Fluidigm C1
GeneChip Mouse Genome 430A2.0 Array
HiSeq 2000
HiSeq 2500
HiSeq 4000
HiSeq4000
HuGe

[2022-03-12 20:30] jorvis commented on #243
Here's the recording from our overview meeting on Friday:

Here's the recording info from our meeting:

https://zoom.us/rec/share/sTRLpBzpVTR_Oa_1wslLL2XwozGWqPFqViomY5tpbfWbxLWHJQCDCMMOWVMxQ8Q.8cf1SuBuoyQ336iN

Passcode: #v=Db34c

[2022-03-13 21:53] songeric1107 opened #252 "add primary analysis to a scRNAseq dataset"
could you please add primary analysis for this dataset?

Thank you

https://umgear.org/dataset_curator.html#/dataset/dfda85c2-9d4f-a85e-f985-3376f7ab1726/displays

[2022-03-14 00:34] songeric1107 commented on #125
upload two Rhizopus delemar datasets and create a profile. all the others are in the gcid already

https://gcid.umgear.org/p?l=a20d57ee

[2022-03-14 15:00] jorvis commented on #125
@songeric1107 @adkinsrs

What's the status of Aspergillus dataset migration?  I don't see any in the system still

[2022-03-14 17:10] #252 closed

[2022-03-14 17:26] JPReceveur opened #253 "Add ability for profiles to have descriptions"
The ability for profiles to have a description would help users better understand how a profile was created and its focus as well as any profile specific considerations (e.g. responsibilities when viewing shared HRP data as part of the group).

[2022-03-14 17:56] adkinsrs opened #254 "Multigene Curator - sort order is ignored in stacked violin and heatmap plots"

[2022-03-14 17:59] adkinsrs opened #255 "Hide plot controls on front page displays"
Currently they are vertically oriented and are partially hidden on the right of the page.  I think it would be better to hide them on front page displays, though re-enable them when the display is zoomed in.

[2022-03-15 00:33] songeric1107 commented on #125
I am working on it now

[2022-03-15 00:48] songeric1107 commented on #125
load the Aspergillus to gcid. https://gcid.umgear.org/p?l=7be3a9d6

however, the curated image could not display in the front page.

[2022-03-15 00:52] songeric1107 commented on #125
similar for Rhizopus profile. my curation could not display in the front page.
![Screen Shot 2022-03-14 at 8 51 01 PM](https://user-images.githubusercontent.com/6730079/158284716-559ba1ee-80f5-4911-9c25-0e47603a354e.png)
![Screen Shot 2022-03-14 at 8 51 13 PM](https://user-images.githubusercontent.com/6730079/158284721-370ce505-7030-42df-90d3-bdeb79c743fc.png)

https://gcid.umgear.org/dataset_cura

[2022-03-15 02:15] adkinsrs commented on #125
I'm loading Aspergillus and Rhizopus genes into the mysql database.  List provided by @songeric1107 and I am keeping track of "gene" table row indexes in case we get better annotations and want to upload

[2022-03-18 13:12] RLC-DCPPC opened #256 "Path in for non-coding biologists"
Need a way for non-coders to get data in

Assumptions:

- all datasets will be analyzed, not raw

Work to do:

- [x] roadmap/flowchart/decision tree/wizard/sorting hat to help folks at varying levels and experience get to what they need
- [x] documentation of format needed
- [ ] Zoom hand-holding session
- [ ] define the process and document it

[2022-03-18 13:16] adkinsrs commented on #248
https://github.com/IGS/gEAR/commit/6c9e50a598e898fa03b3e9d1dad786f2edab8a5e

* Local Docker image now supports projectR
* projectR command is run in "projectr" API call by use of the rpy2 package.  This is the only command that needs to be run in R, so I felt it was better to run in rpy2 rather than call an R script
* I moved some "HuttCtxDevoLMDhs" analysis files (3 DIMRED files) to /var/www/patt

[2022-03-18 15:14] beamilon commented on #245
Seems to work now so closing the ticket

[2022-03-18 15:28] beamilon commented on #245
Now realize that deleting one of the cell type (for example I remove "unknown") prevent the the category order to be updated in the created graph. If I leave all cell types then it works fine.

[2022-03-18 15:28] adkinsrs opened #257 "Ability to search genes by inter-organism gene aliases"
One issue that we see in GCID and will be an emerging issue in projectR is the ability to search for a gene by several alias names.  Currently genes are linked to a single Ensembl ID (or other IDs if we fudge it), and only the gene symbol can be searched... we cannot return a gene if the Ensembl ID is searched directly. Same goes if the gene has other aliases from other sources, or even if the gen

[2022-03-18 15:33] beamilon commented on #218
The primary is still not working. Since 221 was closed, I thought the dataset had been re-uploaded.
Is there a different problem?

[2022-03-18 15:38] beamilon opened #258 "dataset stuck in loading for multigene viewer"
Chicken Basilar Papilla Baseline, P7, svg,scRNA-seq (Janesick), geneID is a dataset with no category for multigene viewer but the window in the search page still shows 'loading'
![image](https://user-images.githubusercontent.com/70719873/159034320-f5d5ef5f-ff59-4843-b051-4f899c93f4ae.png)

[2022-03-18 16:41] adkinsrs commented on #258
I'm guessing for now if the dataset has no categorical observations then we just print an error to that effect, right?

[2022-03-18 16:42] adkinsrs commented on #245
so @JPReceveur mentioned this as well.

As a temporary solution, if you select a different category, then the original one, the sort order groups will be updated to match the category filter.

[2022-03-18 16:55] adkinsrs commented on #244
I think that is probably an issue with the API call to retrieve the updated observations.  Will investigate more.

[2022-03-18 17:37] JPReceveur commented on #256
Related to the first point, I started putting together a flowchart for the different data types and what documentation individuals might need based on their data. @songeric1107 @adkinsrs Any thoughts on whether to keep the documentations broad or split them into smaller pieces? For example, splitting out the single cell documentations based on the different pipelines (Serat,  SingleCellExperiment,

[2022-03-18 17:58] adkinsrs opened #259 "Private datasets accessible in public profiles"
I was attempting to work on an issue by @beamilon and came across a private dataset in a public profile

Profile - scRNA-seq - Chicken basilar papilla (Heller 2021)
Dataset - Chicken Basilar Papilla Baseline, P7, svg,scRNA-seq (Janesick), geneID  *(others in the profile are the same)*

In this case, the datasets in this profile are owned by "curator" and when I am logged in as "Shaun Adkins", I ca

[2022-03-18 18:11] adkinsrs commented on #256
This might actually be a good opportunity to make use of the Github repo's Wiki page (https://github.com/IGS/gEAR/wiki).  We could even link to the wiki from somewhere in the main gEAR site.  We did a similar thing with NeMO Archive stuff, where different ways to submit data as well as retrieve data were posted in that repo's wiki

[2022-03-18 18:40] adkinsrs commented on #244
Ok @beamilon figured out the issue.  For each of these conditions, I use the condition name to create an HTML ID for the various pieces the condition is involved in.  There is an issue with a check after the "orig.ident" condition loads because the HTML is not parsing the name properly.  I originally addressed this for a bunch of other issues but it looks like this one may have escaped.

[2022-03-18 18:47] adkinsrs commented on #244
Committed a fix, plus I hard-coded the fix the gear-production.

[2022-03-18 19:02] adkinsrs commented on #258
<img width="618" alt="Screen Shot 2022-03-18 at 3 01 59 PM" src="https://user-images.githubusercontent.com/5665914/159067920-d84930d7-4d81-4caf-a8bc-de24b3e7523c.png">

Pushed a commit to address this, and it is hard-coded in gear-production.  @beamilon does this error message look fine for you?

[2022-03-18 19:06] adkinsrs commented on #247
This was directly mentioned in https://github.com/IGS/gEAR/issues/180

[2022-03-18 19:26] adkinsrs commented on #245
Regarding sort order, I also have a similar issue at #254 specifically for stacked violin plots that I need to work out.

[2022-03-18 19:38] adkinsrs commented on #245
Added immediate change to sort order categories when the user adds or removes a group from the filters.  This is committed but not pushed to gear-devel or gear-production yet.

Note that when the function triggers, the sort order is reset to the original order.

[2022-03-21 16:35] jorvis opened #260 "Add warning when adding private dataset to public profile"
Initially noted as an issue in #259

[2022-03-21 16:35] jorvis commented on #259
The behavior of showing all datasets in public profiles is as intended.  I believe what has happened here is that datasets which were initially private were released simply by putting them in a public profile rather than also taking the step of making the individual dataset public too.

I'll get Ronna to verify that these are all meant to be open, and also add a warning to the dataset manager on a

[2022-03-22 18:37] adkinsrs commented on #243
# ProjectR scratch notes

## NeMO Archive

* Holds the weighted gene lists
  * Can grab some from other DB sources (believe this is lower priority)
* Holds tab_counts files (ROWmeta, COLmeta, DataMTX) which can be converted to H5AD
  * Should we still bundle and transfer to NeMO Analytics

## NeMO Analytics

Keep in mind this needs to ideally work on any gEAR portal

* API
  * Run ProjectR
    * L

[2022-03-23 15:39] songeric1107 opened #261 "Help client on preparing datasets for uploading"
- [x] client1: Jing Nie, an assistant research professor in Dr. Eri Hashino's lab at Indiana University School of Medicine. sc-RNAseq dataset uploading.

- user was able to generate the .tab files using the codes from GitHub

- [x] clent2: Erin A. Jimenez  scientist from NIH. zbfish scRNASEQ+scATACSEQ.

- share the github link
- meet online, user is able to follow the github step to create uploadi

[2022-03-23 15:53] songeric1107 opened #262 "change one scRNAseq from Dr.Liu's lab as public profile"
could you please change this profile as a public profile?

https://umgear.org/p?l=E9to13Innerear

the manuscript has been published.

Thanks

[2022-03-23 16:21] jorvis commented on #262
Just public or is it also going as one of the site-recommended ones?

[2022-03-23 16:28] songeric1107 commented on #262
from Ronna.

"make it a highlighted public profile"

[2022-03-23 16:38] adkinsrs opened #263 "Modify the plotting API calls to bypass gene validation if the scope of the plotting call is for "projections" and not "genes""
This includes plotly_data.py, multigene_dash_data.py, tsne_data.py, svg_data.py, and epiviz_data.py (maybe)

For scanpy plots we will need to convert the projectR output dataframe into a new adata object.  For the others, we just need to ensure the adata.obs columns get passed to the dataframe so the plot parameters still work

[2022-03-23 16:41] adkinsrs opened #264 "Modify gene results display page to support projection curations"
Have a working prototype of the gene search display page where the user can select a "projections" tab, select a pattern source and number of patterns in place of genes, and it plots using the same display curations available.

Perhaps have a tab to split between "gene" mode and "projections" mode, where their specific options will show.  For "projections" mode, we should have options to select th

[2022-03-23 16:42] adkinsrs opened #265 "Modifications to projectR API call based on pattern type."
Modify projectR API call to determine if pattern source is PCA, CoGAPS, etc, and transform "loadings" option in projectR function to be that type. This way, projectR runs these projections correctly.

[2022-03-23 16:55] adkinsrs opened #266 "MG Curator - Add "center around zero" option for heatmap"
Add option to center values around zero expression.  The current diverging color scheme makes more sense with this option.  We can use a traditional gradient color scheme when this value is false.

[2022-03-23 17:02] #248 closed

[2022-03-23 17:03] adkinsrs commented on #263
May be worth using an adaptor class pattern as an intermediary to construct the input into the right output needed for plotting

[2022-03-23 17:24] jorvis opened #267 "Write import adapter for integration with Kana"
Details to come after discussions with Jayaram

[2022-03-23 18:46] beamilon commented on #218
The dataset in the public profile is the one without "TSNE": P25-P27, mouse, scRNA-seq, cochlear sensory neurons (Goodrich)
There is a primary analysis available apparently but the 'Find marker genes' returns an error message.
![image](https://user-images.githubusercontent.com/70719873/159773537-178e2d7a-d27a-40e1-b7af-1d74ee9ebf58.png)

[2022-03-23 22:09] jorvis commented on #262
This has been done, and I renamed the profile to make it match the convention of the others which started with "scRNA-seq"

[2022-03-23 22:09] #262 closed

[2022-03-24 15:37] jorvis opened #268 "Incorporate gene set enrichment analysis tool"
Initial outline given by Rani attached.
[GSEA-gEAR.docx](https://github.com/IGS/gEAR/files/8343067/GSEA-gEAR.docx)

[2022-03-24 15:38] jorvis commented on #257
Shaun noted this function as an area to look:

 https://scanpy.readthedocs.io/en/stable/generated/scanpy.queries.biomart_annotations.html#scanpy.queries.biomart_annotations

[2022-03-24 15:41] adkinsrs commented on #257
Was poking around in the github code and the python module "pybiomart" is required for this functionality

https://github.com/theislab/scanpy/blob/8736fc3b02a6af3b7214481c2cf78a3f8f5e06bd/scanpy/queries/_queries.py#L74-L108

[2022-03-29 19:07] jorvis opened #270 "Replace note-taking icon with zoom button"
Drop-down menu:
- Lets take the note taking tool off 'it's own' button and into the dropdown menu.
- Lets have instead of the note taking tool a magnifying glass to make it clear that it's view larger and remove view larger from the regular drop down. People don't know that they can view larger and that is actually an important function.

[2022-03-30 13:44] adkinsrs commented on #270
Relates to #247  and #180

[2022-03-30 13:44] #247 closed

[2022-03-30 15:24] adkinsrs commented on #243
Talking points 3/30/22

* Prototype of pattern results displays are done and look good.  Still buggy.
* Had a discussion about saving projectR output.  I currently have the projectR projection patterns output saved at /tmp/<dataset_id>_<patterns_source>.csv but we were weighing the merits of keeping it as a physical file or adding output to the "uns" (or other structure) within the dataset's h5ad

[2022-03-30 15:43] adkinsrs commented on #263
This works now using the detection of a projection patterns csv file to determine if gene_symbols input is actually genes or is projections

[2022-03-30 15:44] adkinsrs commented on #263
Reopening as it currently works for plotly.  Have not tested for the other plot types

[2022-03-30 16:45] jorvis commented on #240
Commit a9379a6 updates documentation for Ubuntu 21.10, Python 3.10.4 and module dependencies.

[2022-03-30 19:27] #270 closed

[2022-03-30 20:52] jorvis commented on #236
![Screenshot from 2022-03-30 15-38-50](https://user-images.githubusercontent.com/330899/160928780-abc6b3a2-7261-4c3a-8bcd-9b3eebd4c53c.png)

[2022-03-30 20:52] #236 closed

[2022-03-31 20:36] songeric1107 opened #271 "Set annotation to proper organism if all datasets within profile are one organism"
the icon for zb fish is incorrect for all the zbfish profiles. the taxa icon displayed as mouse.

we use 7955 (Taxanomy ID) in the metadata for zbfish.

![Screen Shot 2022-03-31 at 4 33 50 PM](https://user-images.githubusercontent.com/6730079/161144786-cce9cb63-320b-4b60-96b7-f83602926096.png)

[2022-03-31 21:00] jorvis commented on #227
Thanks for catching this.  I think it happened to me during a demo but I couldn't catch what the series of steps was at the time. It has been fixed and will be part of the next production update.

[2022-03-31 21:00] #227 closed

[2022-03-31 21:55] jorvis commented on #271
OK, I've changed the title to reflect this as a feature request in cases like this.

[2022-04-01 13:05] adkinsrs commented on #156
@jorvis can this be closed?

[2022-04-01 14:54] jorvis commented on #156
Yep

[2022-04-01 14:54] #156 closed

[2022-04-01 21:36] mgiglio99 commented on #216
Discussion on 4/1

We have to walk the line between encouraging data submission by making it easy, but also keeping the data consistent and structured. All of this needs to be able to scale across gEAR implementations.

**For Jain/Michelle/Joe**
**now:**
-Jain will start working now on a revision to the metadata template with regard to new fields and CVs for existing fields and pass on to Michelle

[2022-04-04 14:16] adkinsrs commented on #240
Pushed another pair of commits on "software_update_bugfixes" to update the Dockerfile.  The docker image successfully built but I would still need to verify that code works.  Since I have the image saved locally, I can easily test my projectR branch to ensure it is still functional.

[2022-04-04 14:22] adkinsrs commented on #271
Would it be as simple as adding a "layouts" field in the database for default organism id?  We can take requests to adjust the default organism if necessary (such as with the zebrafish profile), but eventually could implement customizable options when the user creates a new profile (such as default organism).

[2022-04-04 15:06] adkinsrs commented on #266
**Centered around zero**
<img width="1369" alt="Screen Shot 2022-04-04 at 11 06 09 AM" src="https://user-images.githubusercontent.com/5665914/161573794-842904b8-5be3-4f72-b055-224bb87c3ede.png">
**Option disabled**
<img width="1362" alt="Screen Shot 2022-04-04 at 11 05 41 AM" src="https://user-images.githubusercontent.com/5665914/161573826-374c84af-0adf-4149-81e6-f89cbb7300fe.png">

[2022-04-04 18:33] adkinsrs commented on #266
Updated code where if "centered_around_zero" = true, then colorbar mid centers at 0.
<img width="1334" alt="Screen Shot 2022-04-04 at 2 32 51 PM" src="https://user-images.githubusercontent.com/5665914/161608913-29448fa7-86fa-4511-bcb9-d7325727285c.png">

If "centered_around_zero" = false, then colorbar min value is 0.
<img width="1361" alt="Screen Shot 2022-04-04 at 1 46 25 PM" src="https://user-i

[2022-04-04 20:17] adkinsrs opened #272 "Test Issue #266"
#266

Currently available on gear-devel.

Steps to create:
* There is a new "center mean expression around zero" checkbox when creating heatmaps

I would also like input on a) if the colorscales used for centered and non-centered heatmaps are acceptable and b) If the colorbar having a mid at 0 (for centered plots) and a min of 0 (for non-centered plots) is fine.

[2022-04-05 13:22] adkinsrs commented on #272
Hold off on this until I give the OK.  I just realized that all the projectR dependencies are not installed.  While they have nothing to do with the multigene curator tool, the Flask API loads all modules for all API endpoints first

[2022-04-05 15:02] adkinsrs commented on #272
Ok, I've installed the dependencies I needed to install.  So test away

[2022-04-05 18:03] #261 closed

[2022-04-05 18:16] JPReceveur commented on #272
Tested on a couple datasets and works as expected.
I think the color choices are acceptable for defaults, I didn't have any problems interpreting them.
Having the mid at 0 for centered or a min of zero for noncentered is fine.